@import "./custom/base";
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  .nav-link-container:hover {
    .nav-dropdown {
      display: block;
      opacity: 1;
    }
  }
  .nav-dropdown {
    position: absolute;
    background-color: white;
    width: 22rem;
    padding-top: 2.3rem;
    display: none;
    border-radius: 0 0 1rem 1rem;
    transition: opacity 0.3s;
    a {
      font-size: 85%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        height: 3px;
        width: 3rem;
        background-color: #1ab0f2;
        opacity: 0;
        transition: 0.2s;
      }
      &:hover {
        color: #1ab0f2;
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
.hero {
  &-single {
    position: relative;
    height: 100vh;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-40%);
    h1 {
      font-size: 6rem;
    }
    img {
      height: 8.5rem;
    }
  }
  &-bg-img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
.section-home-description {
  min-height: 80vh;
  p {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -45%;
      left: 0;
      @include gradient(3px, 30vw, #1ab0f2, #080a87);
    }
  }
}

.section-home-service {
  padding: 10rem 0;
  .title {
    margin-bottom: 10rem;
  }
  img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
  }
  p {
    font-weight: 500;
    font-size: 95%;
  }
  .col-sm-6 div {
    width: 80%;
    margin-left: 10%;
    height: 21rem;
    flex-direction: column;
    transition: 0.5s;
    a {
      position: relative;
      margin-left: 30%;
      display: none;
      color: #1ab0f2;
      &::after {
        font-family: FontAwesome;
        font-weight: 900;
        content: "\f105";
        position: absolute;
        right: -1rem;
        top: 0;
        font-size: 1.5rem;
        transition: right 0.3s;
      }
      &:hover::after {
        right: -1.5rem;
      }
    }
    &:hover {
      box-shadow: 0 0 1.5rem rgba($color: #000000, $alpha: 0.2);
      a {
        display: block;
      }
    }
  }
}

.footer {
  &-logo {
    height: 10.4rem;
  }
  p {
    font-size: 1.1rem;
  }
  &-link {
    font-weight: 500;
    font-size: 1.2rem;
  }
  &-socials {
    a {
      height: 3rem;
      &:hover path {
        stroke: #1ab0f2;
      }
    }
  }
  form {
    font-size: 1.1rem;
    input {
      border-radius: 0.5rem 0 0 0.5rem;
    }
    .btn {
      border-radius: 0 0.5rem 0.5rem 0;
      border: none;
      background-color: #c6c6c6;
    }
  }
}
// responsive
//devices
// xl
// lg
@media (min-width: 1200px) {
  html {
    font-size: 80%;
  }
}
// md
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
  .nav-link-container {
    position: relative;
  }
  .nav-link.text-primary.ms-5 {
    margin-left: 1rem !important;
  }
  .nav-dropdown {
    left: 7rem;
    top: 1rem;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    display: none;
    transition: opacity 0.3s;
    border-radius: 0 !important;
    box-shadow: 0 0.5rem 1rem rgba(#000000, 0.15) !important;
    z-index: 3;
    a {
      font-size: 1.2rem !important;
    }
  }
  .section-home-service {
    .col-sm-6 div {
      width: 95%;
    }
  }
}
// sm
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .footer-links {
    margin-left: 0 !important;
  }
}
// xs
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
.partners {
  padding: 10rem 0;
  p {
    display: none;
  }
  .owl-nav {
    position: relative;
    margin-top: 5rem;
    .owl-prev,
    .owl-next {
      position: absolute;
      transform: scale(2.3);
    }
    .owl-prev {
      left: 30%;
    }
    .owl-next {
      right: 30%;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    .owl-dot.active {
      span {
        background-color: #1ab0f2;
      }
    }
    span {
      display: inline-block;
      border-radius: 50%;
      margin-right: 1rem;
      height: 1rem;
      width: 1rem;
      background-color: #707070;
    }
  }
}
#partner-svg {
  width: 16.5rem !important;
  height: 6.8rem !important;
}
#partner-img {
}
#partner-rect {
}
.partners {
  .owl-item {
    margin-top: 3rem;
  }
  .owl-item.active.center {
    margin-top: 0;
    #partner-svg {
      width: 25.7rem !important;
      height: 10.6rem !important;
    }
    #partner-img {
    }
    #partner-rect {
    }
    p {
      display: block;
    }
  }
}
@media (max-width: 600px) {
  .owl-item.active.center {
    margin-left: 25vw !important;
  }
  .owl-dots {
    bottom: 15%;
  }
}

@media (max-width: 400px) {
  .owl-item.active.center {
    margin-left: 10vw !important;
  }
}
