.home-screen {
  display: grid;
  grid-template-rows: 7rem 90vh repeat(4, min-content) 100vh min-content 40vw min-content min-content;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
.header {
  grid-column: center-start / center-end;
  background-color: gray;
}
.hero-section {
  grid-column: center-start / center-end;
}
.categories-section {
  grid-column: center-start / center-end;
}
.board-section {
  grid-column: center-start / center-end;
}
.upcoming-course-section {
  grid-column: center-start / center-end;
}
.top-courses-section {
  grid-column: center-start / center-end;
}
.cta-section {
  grid-column: full-start / full-end;
}
.top-program-section {
  grid-column: center-start / center-end;
}
.outcome-section {
  grid-column: full-start / full-end;
}
.step-section {
  grid-column: center-start / center-end;
}
.contact-section {
  grid-column: center-start / center-end;
}
