.home-screen {
  display: grid;
  grid-template-rows: 10rem 90vh repeat(4, min-content) 100vh min-content 40vw min-content min-content;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.hero-section {
  grid-column: center-start / full-end;
  box-sizing: border-box;
  background-color: $color-white;
  clip-path: ellipse(85% 100% at 50% 0%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .hero-content {
    margin-top: -15vh;
    p {
      font-size: 2rem;
    }
  }
  .hero-img {
    width: 30rem;
    img {
      width: 100%;
    }
  }
}

.top-courses-section {
  grid-column: center-start / center-end;
}
.cta-section {
  grid-column: full-start / full-end;
  padding: 10rem 0;
  @include grid-content;
  position: relative;
  background-color: darkgray;
  .cta {
    grid-column: center-start / col-start 6;
  }
  .cta-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
}
.top-program-section {
  grid-column: center-start / center-end;
}
.outcome-section {
  grid-column: full-start / full-end;
}
.step-section {
  grid-column: center-start / center-end;
}
.contact-section {
  grid-column: center-start / center-end;
}
.home-title {
  p {
    font-weight: 700;
    font-size: 2.7rem;
  }
}
