:root {
  --color-primary: #213e7b;
  --color-secondary: #166589;
}
@import "./custom/contact";
@import "./custom/input";
body {
  font-family: "Raleway", sans-serif !important;
  color: #444444;
}

.fw-semi {
  font-weight: 600 !important;
}
.heading-primary {
  font-size: 4.5rem;
}
#dental-body {
  background-color: #f0f0f0;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  .navbar-logo {
    height: 6.25rem;
  }
  .header-nav {
    a {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
// rgba(#00afdd, 0.7),
// rgba(#213e7b, 0.7),
.section-hero {
  &.hero-1 {
    background-image: linear-gradient(
        to right top,
        rgba(#00afdd, 0.5),
        rgba(#213e7b, 0.3),
        rgba(#fff, 1)
      ),
      url("../images/updated/Slider/Slider-2.png");
  }
  &.hero-2 {
    background-image: linear-gradient(
        to right top,
        rgba(#00afdd, 0.5),
        rgba(#213e7b, 0.3),
        rgba(#fff, 1)
      ),
      url("../images/updated/Slider/Slider-3.png");
  }
  &.hero-3 {
    background-image: linear-gradient(
        to right top,
        rgba(#00afdd, 0.5),
        rgba(#213e7b, 0.3),
        rgba(#fff, 1)
      ),
      url("../images/updated/Slider/Slider-4.png");
  }
  &.hero-4 {
    background-image: linear-gradient(
        to right top,
        rgba(#00afdd, 0.5),
        rgba(#213e7b, 0.3),
        rgba(#fff, 1)
      ),
      url("../images/updated/Slider/Slider-1.png");
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  //   clip-path: ellipse(85% 100% at 48.75% 0%);
  height: 90vh;
  position: relative;
  button {
    // margin-top: -1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(162, 162, 162, 0.294);
  }
}
.section-about {
  padding: 7rem 0;
  .about-left {
    flex: 0 0 60%;
    min-height: 34rem;
    background-image: url(../images/updated/Slider/Slider-3.png);
    background-size: cover;
    background-position: center;
  }
  h4 {
    position: relative;
    margin-bottom: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      height: 60px;
      width: 3px;
      background-color: #95d7f7;
      display: block;
    }
  }
  .about-right {
    flex: 1;
    & > * {
      width: inherit;
    }
    .about-block {
      flex: 0 0 50%;
      height: 17rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        height: 8rem;
        width: 8rem;
      }
    }
  }
  // .block-img {
  //   height: 4rem;
  //   width: 4rem;
  //   background-color: red;
  //   background-image: url(../images/Icon-1.svg);
  // }
}
.section-doctors {
  padding: 5rem 0;
  .doctor-slide {
    position: relative;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    &__img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .owl-item.active.center {
    transition: all 0.3s;
    small {
      display: block !important;
    }
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    bottom: -4%;
    span {
      font-size: 3rem;
    }
  }
  .owl-prev {
    left: 39%;
  }
  .owl-next {
    right: 39%;
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .owl-dots button span {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  .owl-dots button.active span {
    background-color: #0079b2;
  }
}
.section-service {
  .single-service {
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: #213e7b;
    }
    .service-img {
      height: 6rem;
      width: 6rem;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #f0f0f0;
      img {
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
        margin-top: 1.25rem;
      }
    }
  }
}
.section-branches {
  .braches-content {
    background-size: cover;
    background-position: center;
    height: 11rem;
    position: relative;
    border-radius: 0.7rem;
    h3 {
      position: absolute;
      left: 1rem;
      bottom: 0rem;
    }
  }
}
.section-brief {
  position: relative;
  z-index: 2;
  .img-container {
    img {
      height: 3.25rem;
    }
  }
}
// Section footer
.footer {
  a {
    color: #444444;
  }
  h4 {
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 2rem;
      background-color: var(--color-primary);
      position: absolute;
      margin-top: 5px;
    }
  }
  &__logo {
    width: 10rem;
  }
  &__social {
    color: var(--color-primary) !important;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      color: white !important;
      background-color: var(--color-primary);
    }
  }
}
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #000;
  opacity: 0.5;
  z-index: 3;
}
.section-modal {
  background-color: #f0f0f0;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  z-index: 4;
  display: none;

  //fixed
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .form-modal-content {
    height: 100%;
    width: 100%;
    position: relative;

    ///center text
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-modal-close {
      height: 4rem;
      width: 4rem;
      line-height: 4rem;
      vertical-align: middle;
      border: none;
      border-radius: 50%;
      font-size: 3rem;
      position: absolute;
      right: -2rem;
      top: -2rem;
      z-index: 4;
      transition: 0.3s;
      &:hover {
        background-color: #213e7b;
        color: white;
      }
    }
  }

  .modal-img-container {
    position: relative;
    h2 {
      position: absolute;
      bottom: 2rem;
      left: 3rem;
      &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 3.5rem;
        height: 3px;
        background-color: white;
      }
    }
    .modal-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// responsive
//devices
// xl
@media (min-width: 1200px) {
  .hero-container {
    top: 40%;
  }
}
// lg
@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .brief-container {
    .col-lg-4 {
      padding: 1.5rem !important;
    }
  }
}

// md
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
  .hero-content button {
    margin-top: 1.5rem;
  }
  // .section-about {
  //   .about-home {
  //     height: 100%;
  //     img {
  //       display: none !important;
  //     }
  //     &__content {
  //       position: relative;
  //       width: 100%;
  //       height: min-content;
  //     }
  //   }
  // }
  .footer {
    &__social-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }
}
// sm
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .section-about {
    .about-left {
      min-height: 25rem;
    }
    .about-block {
      height: 12.5rem;
    }
    .about-right .d-flex:nth-child(2) {
      transform: translateX(0) !important;
    }
  }
  .section-doctors {
    .owl-prev {
      left: 35%;
    }
    .owl-next {
      right: 35%;
    }
  }
}
// special purpose
@media (max-width: 590px) {
  .section-about .container {
    overflow: hidden;
  }
}
// xs
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .section-doctors {
    // clip-path: ellipse(90% 100% at 48.75% 0%);
    .owl-prev {
      left: 26%;
    }
    .owl-next {
      right: 28%;
    }
  }
}
.section-hero {
  .container {
    position: relative;
  }
  .hero-container {
    position: absolute;
    top: 45%;
    left: 0;
  }
}
