:root {
  --color-primary: #213e7b;
  --color-secondary: #166589;
}
@import "./custom/contact";
@import "./custom/input";
body {
  font-family: "Raleway", sans-serif !important;
  color: #444444;
}

.fw-semi {
  font-weight: 600 !important;
}
.heading-primary {
  font-size: 4.5rem;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .navbar-logo {
    height: 6.25rem;
  }
  .header-nav {
    a {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
// rgba(#00afdd, 0.7),
// rgba(#213e7b, 0.7),
.section-hero {
  background-color: #eeeeee;
  background-image: linear-gradient(
      to right top,
      rgba(#00afdd, 0.5),
      rgba(#213e7b, 0.3),
      rgba(#fff, 1)
    ),
    url("../images/bg-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: ellipse(85% 100% at 48.75% 0%);
  height: 90vh;
  .hero-content button {
    margin-top: -1.5rem;
  }
}
.section-brief {
  position: relative;
  z-index: 2;
  .img-container {
    img {
      height: 3.25rem;
    }
  }
}
.section-about {
  background-color: #f1f1f1;
  .about-home {
    min-height: 80vh;
    position: relative;
    img {
      width: 50%;
      height: 60vh;
      object-fit: cover;
    }
    &__content {
      min-height: 70vh;
      width: 60%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 5rem;
      &-border {
        width: 100%;
        height: 70vh;
        position: absolute;
        bottom: 40px;
        left: 30px;
        border: 1px solid #fff;
      }
    }
    &__header {
      border-left: 3px solid #00afdd;
      font-size: 2.2rem;
      margin-left: -1.35rem;
      span {
        font-size: 1.3rem; //20px
      }
    }
    &__text {
      border-bottom: 1px solid #95d7f7;
    }

    &__feature {
      flex: 1;
      &:not(:last-child) {
        border-right: 1px solid #00afdd;
      }
      img {
        height: 2.55rem; //40px - 60
        width: 2.1rem;
        object-fit: cover;
      }
    }
  }
}
// section doctors
.section-doctors {
  position: relative;
  .doctor-slides {
    position: relative;
  }
  .doctor-slide {
    position: relative;
    padding-top: 6.5rem;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.15);
    img {
      position: absolute;
      top: -5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 10rem;
      width: 10rem;
      object-fit: cover;
      border-radius: 50%;
      z-index: 1;
    }
  }
  .owl-carousel .owl-stage-outer {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 4rem;
      display: inline-block;
    }
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: -1rem;
  }
  .doctors-bg {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: -2;
    background-color: white;
    height: 70%;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}
// section service
.section-service {
  position: relative;
  background-image: linear-gradient(
      rgba(17, 34, 71, 0.94),
      rgba(17, 34, 71, 0.94)
    ),
    url("../images/service-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  img {
    height: 4.25rem;
    width: 4.25rem;
  }
  .section-bg {
    position: absolute;
    top: -100%;
    left: 0;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    z-index: -3; //respective to doctor bg
  }
}
//import section-service border
@import "./custom/sec-service-border";
// section
// branches
.section-branches {
  .braches-content {
    background-size: cover;
    background-position: center;
    height: 11rem;
    position: relative;
    border-radius: 0.7rem;
    h3 {
      position: absolute;
      left: 1rem;
      bottom: 0rem;
    }
  }
}
// Section footer
.footer {
  a {
    color: #444444;
  }
  h4 {
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 2rem;
      background-color: var(--color-primary);
      position: absolute;
      margin-top: 5px;
    }
  }
  &__logo {
    width: 10rem;
  }
  &__social {
    color: var(--color-primary) !important;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      color: white !important;
      background-color: var(--color-primary);
    }
  }
}
.section-bg-gray {
  position: relative;
  z-index: -2;
  background-color: #ddd;
}
// responsive
//devices
// xl
@media (min-width: 1200px) {
  .hero-container {
    top: 40%;
  }
}
// lg
@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .brief-container {
    .col-lg-4 {
      padding: 1.5rem !important;
    }
  }
}

// md
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
  .hero-content button {
    margin-top: 1.5rem;
  }
  .section-about {
    .about-home {
      height: 100%;
      img {
        display: none !important;
      }
      &__content {
        position: relative;
        width: 100%;
        height: min-content;
      }
    }
  }
  .footer {
    &__social-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }
}
// sm
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .section-hero {
    clip-path: ellipse(90% 100% at 48.75% 0%);
  }
}
// special purpose
@media (max-width: 590px) {
  .section-about .container {
    overflow: hidden;
  }
}
// xs
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .section-hero {
    clip-path: ellipse(95% 100% at 48.75% 0%);
  }
}
.section-hero {
  .container {
    position: relative;
  }
  .hero-container {
    position: absolute;
    top: 45%;
    left: 0;
  }
}
