:root {
  --color-primary: #213e7b;
  --color-secondary: #166589;
}
@import "./custom/contact";
@import "./custom/input";
body {
  font-family: "Raleway", sans-serif !important;
  color: #444444;
}

.fw-semi {
  font-weight: 600 !important;
}
.heading-primary {
  font-size: 4.5rem;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .navbar-logo {
    height: 6.25rem;
  }
  .header-nav {
    a {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
// rgba(#00afdd, 0.7),
// rgba(#213e7b, 0.7),
.section-hero {
  background-color: #eeeeee;
  background-image: linear-gradient(
      to right top,
      rgba(#00afdd, 0.5),
      rgba(#213e7b, 0.3),
      rgba(#fff, 1)
    ),
    url("../images/bg-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: ellipse(85% 100% at 48.75% 0%);
  height: 90vh;
  .hero-content button {
    margin-top: -1.5rem;
  }
}
