:root {
  --color-primary: #213e7b;
}
body {
  font-family: "Raleway", sans-serif !important;
}

.fw-semi {
  font-weight: 600 !important;
}
.heading-primary {
  font-size: 5rem;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .navbar-logo {
    height: 6.25rem;
  }
  .header-nav {
    a {
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
// rgba(#00afdd, 0.7),
// rgba(#213e7b, 0.7),
.section-hero {
  background-image: linear-gradient(
      to right top,
      rgba(#00afdd, 0.5),
      rgba(#213e7b, 0.3),
      rgba(#fff, 1)
    ),
    url("../images/bg-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  .row {
    padding-bottom: 7rem !important;
  }
}
.section-brief {
  .img-container {
    img {
      height: 3.25rem;
    }
  }
}
.section-about {
  background-color: #f1f1f1;
  .about-home {
    min-height: 100vh;
    position: relative;
    img {
      width: 50%;
      height: 80vh;
      object-fit: cover;
    }
    &__content {
      min-height: 80vh;
      width: 60%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 5rem;
      &-border {
        width: 100%;
        height: 80vh;
        position: absolute;
        bottom: 40px;
        left: 30px;
        border: 1px solid #fff;
      }
    }
    &__header {
      border-left: 3px solid #00afdd;
      font-size: 2.2rem;
      margin-left: -1.35rem;
      span {
        font-size: 1.3rem; //20px
      }
    }
    &__text {
      border-bottom: 1px solid #95d7f7;
    }

    &__feature {
      flex: 1;
      &:not(:last-child) {
        border-right: 1px solid #00afdd;
      }
      img {
        height: 2.55rem; //40px - 60
        width: 2.1rem;
        object-fit: cover;
      }
    }
  }
}
// section doctors
.section-doctors {
}
// responsive
// for phone
@media (max-width: 1200px) {
  .brief-container {
    .col-lg-4 {
      padding: 1.5rem !important;
    }
  }
}
