.title h3 {
  position: relative;
  display: inline-block;
  padding-bottom: 0.5rem; }
  .title h3::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100px;
    background-color: #6610f2;
    margin-top: 7px; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3; }

.slide {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .slide--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/1.jpg); }
  .slide--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/2.jpg); }
  .slide--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/3.jpg); }

.section-feature i {
  font-size: 3rem; }

.section-overview {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.overview h3 {
  font-size: 3rem; }

.testimonial img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px; }

.footer {
  background-color: #3d3d3d; }
  .footer-bottom a {
    text-decoration: none; }

@media (max-width: 991px) {
  .collapse.navbar-collapse .ms-4,
  .collapse.navbar-collapse .ms-auto {
    margin-left: 0 !important;
    padding-left: 0 !important; } }
.owl-nav {
  z-index: 3; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: white;
  z-index: 233; }

.owl-prev {
  left: 2% !important; }

.owl-next {
  right: 2% !important; }
