body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #444;
}
.heading__primary {
  color: #213e7b;
  font-size: 5.4rem;
  line-height: 1;
}
.heading__secondary {
  color: #444444;
  font-size: 4rem;
  line-height: 1;
}
.heading__tertiary {
  font-size: 4.4rem;
  line-height: 1;
  span {
    font-weight: 400;
  }
}
.heading__tetra {
  font-size: 4.7rem;
  font-weight: 600;
  color: $color-primary;
  line-height: 1;
}
.heading-4 {
  font-size: 1.6rem;
  color: $color-primary-dark;
}
