* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container-header {
  display: flex;
  background-color: tomato;
  padding: 20px 0;
  color: white;
}
.routine {
  display: flex;
}
.routine input[type="text"] {
  display: inline-block;
  width: 80%;
}
.routine > div,
.container-header > div {
  flex: 0 0 11.11%;
}
.routine > div {
  border: 1px solid #ddd;
}
.modal {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  padding: 20px 30px;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.days {
  display: flex;
  justify-content: space-between;
}
.day {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  /* min-width: 50%; */
}
/* .day div:first-child {
  margin-right: 30px;
} */

.day input[type="text"] {
  width: 50px;
}
.days-left {
  margin-right: 20px;
}
.days-left,
.days-right {
  flex: 0 0 35%;
}
