:root {
  --color-primary: #213e7b;
  --color-secondary: #166589; }

.contact__img-container {
  background-color: #166589;
  flex: 0 0 35vw; }
.contact__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; }
.contact__form-container {
  flex: 1;
  background-color: #08142e; }
.contact__heading {
  font-size: 2.1rem;
  color: #95d7f7;
  line-height: 1.2;
  margin-bottom: 1.5rem; }
.contact__subheading {
  font-size: 1rem;
  color: white; }
.contact__form .input {
  background-color: rgba(149, 214, 247, 0.329);
  color: white; }
  .contact__form .input::-webkit-input-placeholder {
    color: white;
    opacity: 0.5; }
.contact__input-group {
  margin-bottom: 0.95rem;
  display: flex; }
  @media (max-width: 768px) {
    .contact__input-group {
      display: block; } }
  .contact__input-group > * {
    flex: 0 0 48%; }
  .contact__input-group .input:first-child {
    margin-right: 4%; }
    @media (max-width: 768px) {
      .contact__input-group .input:first-child {
        margin-right: 0;
        margin-bottom: 0.95rem; } }
.contact__btn {
  border: 1px solid #fff;
  color: white;
  opacity: 0.6;
  padding: 0.625rem;
  margin-top: 1rem; }
  .contact__btn:hover {
    background: #95d7f7;
    border: 1px solid #95d7f7;
    color: #00afdd; }

.input {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-weight: inherit;
  font-size: 1rem;
  outline: none;
  border: none; }

body {
  font-family: "Raleway", sans-serif !important;
  color: #444444; }

.fw-semi {
  font-weight: 600 !important; }

.heading-primary {
  font-size: 4.5rem; }

#dental-body {
  background-color: #f0f0f0; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4; }
  .header .navbar-logo {
    height: 6.25rem; }
  .header .header-nav a {
    font-size: 1rem;
    font-weight: 600; }
    .header .header-nav a.active {
      color: #0079b2 !important; }
    .header .header-nav a.active::after {
      content: "";
      width: 1.5rem;
      height: 3px;
      background-color: #0079b2;
      display: block;
      margin-top: 0.3rem; }

.section-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative; }
  .section-hero button {
    margin-top: -1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(162, 162, 162, 0.294); }

.footer a {
  color: #444444; }
.footer h4 {
  position: relative; }
  .footer h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 2rem;
    background-color: var(--color-primary);
    position: absolute;
    margin-top: 5px; }
.footer__logo {
  width: 10rem; }
.footer__social {
  color: var(--color-primary) !important;
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  transition: all 0.3s; }
  .footer__social:hover {
    color: white !important;
    background-color: var(--color-primary); }

.navigation a {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #166589;
  border-radius: 50%; }
  .navigation a.active {
    background-color: #166589;
    color: #fff; }

@media (min-width: 1200px) {
  .hero-container {
    top: 40%; } }
@media (max-width: 1200px) {
  html {
    font-size: 80%; }

  .brief-container .col-lg-4 {
    padding: 1.5rem !important; } }
@media (max-width: 992px) {
  html {
    font-size: 70%; }

  .footer__social-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem; } }
@media (max-width: 768px) {
  html {
    font-size: 65%; } }
@media (max-width: 576px) {
  html {
    font-size: 60%; } }
.section-hero .container {
  position: relative; }
.section-hero .hero-container {
  position: absolute;
  top: 45%;
  left: 0; }

.select-box {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4); }
  .select-box .selected {
    order: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; }
    .select-box .selected-icon {
      transition: 0.3s; }
  .select-box .options-container {
    background-color: white;
    order: 1;
    max-height: 0;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    bottom: -260px;
    left: 0;
    width: 100%;
    z-index: 5;
    border-radius: 0 0rem 0.5rem 0.5rem; }
    .select-box .options-container input[type="radio"] {
      display: none; }
    .select-box .options-container label {
      margin: 0.5rem 0;
      padding-left: 1rem;
      cursor: pointer;
      border-left: 3px solid transparent;
      color: #c6c6c6;
      font-weight: 500; }
      .select-box .options-container label:hover {
        color: #0079b2;
        border-left: 3px solid #0079b2; }
  .select-box .options-container.active + .selected {
    background-color: red; }
  .select-box.active .options-container {
    max-height: 260px; }
  .select-box.active .selected-icon {
    transform: rotate(-180deg); }

#about-body {
  background-color: #f0f0f0; }
  #about-body .section-hero-containers .section-hero {
    background-image: url("../../images/about-bg.png"); }

.section-about-description {
  min-height: 70vh;
  width: 70%;
  margin-left: 15%;
  background-image: url("../../images/about-bg-w.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  margin-top: -10rem;
  border-radius: 0.5rem;
  margin-bottom: 10rem; }
  .section-about-description > div {
    width: 80%;
    margin-left: 5%; }
    .section-about-description > div p:first-of-type {
      margin-bottom: 2rem;
      position: relative;
      z-index: 2; }
  .section-about-description img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: contain; }

.section-about-goal {
  margin-bottom: 6rem; }

.section-about-goal .bg-white {
  height: 18rem;
  padding-top: 8rem;
  position: relative; }
  .section-about-goal .bg-white .img-container {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    z-index: 1; }
    .section-about-goal .bg-white .img-container img {
      height: 74%;
      width: 74%;
      transform: scale(0.8); }

.section-about-values {
  margin-bottom: 6rem; }
  .section-about-values h4 {
    font-size: 3rem; }
  .section-about-values .about-value-single {
    height: 7.5rem;
    background-image: url("../../images/about-bg-w.png");
    background-size: cover;
    border-radius: 0.8rem;
    position: relative; }
  .section-about-values a {
    color: #0079b2;
    position: absolute;
    bottom: 0.5rem;
    right: 1.3rem; }
