:root {
  --color-primary: #213e7b;
  --color-secondary: #166589; }

.contact__img-container {
  background-color: #166589;
  flex: 0 0 35vw; }
.contact__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; }
.contact__form-container {
  flex: 1;
  background-color: #08142e; }
.contact__heading {
  font-size: 2.1rem;
  color: #95d7f7;
  line-height: 1.2;
  margin-bottom: 1.5rem; }
.contact__subheading {
  font-size: 1rem;
  color: white; }
.contact__form .input {
  background-color: rgba(149, 214, 247, 0.329);
  color: white; }
  .contact__form .input::-webkit-input-placeholder {
    color: white;
    opacity: 0.5; }
.contact__input-group {
  margin-bottom: 0.95rem;
  display: flex; }
  @media (max-width: 768px) {
    .contact__input-group {
      display: block; } }
  .contact__input-group > * {
    flex: 0 0 48%; }
  .contact__input-group .input:first-child {
    margin-right: 4%; }
    @media (max-width: 768px) {
      .contact__input-group .input:first-child {
        margin-right: 0;
        margin-bottom: 0.95rem; } }
.contact__btn {
  border: 1px solid #fff;
  color: white;
  opacity: 0.6;
  padding: 0.625rem;
  margin-top: 1rem; }
  .contact__btn:hover {
    background: #95d7f7;
    border: 1px solid #95d7f7;
    color: #00afdd; }

.input {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  font-weight: inherit;
  font-size: 1rem;
  outline: none;
  border: none; }

body {
  font-family: "Raleway", sans-serif !important;
  color: #444444; }

.fw-semi {
  font-weight: 600 !important; }

.heading-primary {
  font-size: 4.5rem; }

#dental-body {
  background-color: #f0f0f0; }

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4; }
  .header .navbar-logo {
    height: 6.25rem; }
  .header .header-nav a {
    font-size: 1rem;
    font-weight: 600; }

.section-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative; }
  .section-hero.hero-1 {
    background-image: linear-gradient(to right top, rgba(0, 175, 221, 0.5), rgba(33, 62, 123, 0.3), white), url("../images/updated/Slider/Slider-2.png"); }
  .section-hero.hero-2 {
    background-image: linear-gradient(to right top, rgba(0, 175, 221, 0.5), rgba(33, 62, 123, 0.3), white), url("../images/updated/Slider/Slider-3.png"); }
  .section-hero.hero-3 {
    background-image: linear-gradient(to right top, rgba(0, 175, 221, 0.5), rgba(33, 62, 123, 0.3), white), url("../images/updated/Slider/Slider-4.png"); }
  .section-hero.hero-4 {
    background-image: linear-gradient(to right top, rgba(0, 175, 221, 0.5), rgba(33, 62, 123, 0.3), white), url("../images/updated/Slider/Slider-1.png"); }
  .section-hero button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(162, 162, 162, 0.294); }

.section-about {
  padding: 7rem 0; }
  .section-about .about-left {
    flex: 0 0 60%;
    min-height: 84vh;
    background-image: url(../images/updated/Slider/Slider-3.png);
    background-size: cover;
    background-position: center; }
  .section-about h4 {
    position: relative;
    margin-bottom: 1.5rem; }
    .section-about h4::before {
      content: "";
      position: absolute;
      left: -1rem;
      height: 60px;
      width: 3px;
      background-color: #95d7f7;
      display: block; }
  .section-about .about-right {
    flex: 1; }
    .section-about .about-right > * {
      width: inherit; }
    .section-about .about-right .about-block {
      flex: 0 0 50%;
      height: 42vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .section-about .about-right .about-block img {
        height: 8rem;
        width: 8rem; }

.section-doctors {
  padding: 5rem 0; }
  .section-doctors .doctor-slide {
    position: relative;
    padding-top: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem; }
    .section-doctors .doctor-slide__img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      position: absolute;
      top: -20%;
      left: 50%;
      transform: translateX(-50%); }
  .section-doctors .owl-item.active.center {
    transition: all 0.3s; }
    .section-doctors .owl-item.active.center small {
      display: block !important; }
  .section-doctors .owl-prev,
  .section-doctors .owl-next {
    position: absolute;
    bottom: -4%; }
    .section-doctors .owl-prev span,
    .section-doctors .owl-next span {
      font-size: 3rem; }
  .section-doctors .owl-prev {
    left: 39%; }
  .section-doctors .owl-next {
    right: 39%; }
  .section-doctors .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .section-doctors .owl-dots button span {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px; }
  .section-doctors .owl-dots button.active span {
    background-color: #0079b2; }

.section-service .single-service {
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer; }
  .section-service .single-service:hover {
    background-color: #213e7b; }
  .section-service .single-service .service-img {
    height: 6rem;
    width: 6rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #f0f0f0; }
    .section-service .single-service .service-img img {
      height: 3.5rem;
      width: 3.5rem;
      text-align: center;
      margin-top: 1.25rem; }

.section-branches .braches-content {
  background-size: cover;
  background-position: center;
  height: 11rem;
  position: relative;
  border-radius: 0.7rem; }
  .section-branches .braches-content h3 {
    position: absolute;
    left: 1rem;
    bottom: 0rem; }

.section-brief {
  position: relative;
  z-index: 2; }
  .section-brief .img-container img {
    height: 3.25rem; }

.footer a {
  color: #444444; }
.footer h4 {
  position: relative; }
  .footer h4::after {
    content: "";
    display: block;
    height: 3px;
    width: 2rem;
    background-color: var(--color-primary);
    position: absolute;
    margin-top: 5px; }
.footer__logo {
  width: 10rem; }
.footer__social {
  color: var(--color-primary) !important;
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  transition: all 0.3s; }
  .footer__social:hover {
    color: white !important;
    background-color: var(--color-primary); }

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #000;
  opacity: 0.5;
  z-index: 3; }

.section-modal {
  background-color: #f0f0f0;
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw;
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .section-modal .form-modal-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-modal .form-modal-content .form-modal-close {
      height: 4rem;
      width: 4rem;
      line-height: 4rem;
      vertical-align: middle;
      border: none;
      border-radius: 50%;
      font-size: 3rem;
      position: absolute;
      right: -2rem;
      top: -2rem;
      z-index: 4;
      transition: 0.3s; }
      .section-modal .form-modal-content .form-modal-close:hover {
        background-color: #213e7b;
        color: white; }
  .section-modal .modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media (min-width: 1200px) {
  .hero-container {
    top: 40%; } }
@media (max-width: 1200px) {
  html {
    font-size: 80%; }

  .brief-container .col-lg-4 {
    padding: 1.5rem !important; } }
@media (max-width: 992px) {
  html {
    font-size: 70%; }

  .hero-content button {
    margin-top: 1.5rem; }

  .footer__social-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem; } }
@media (max-width: 768px) {
  html {
    font-size: 65%; }

  .section-about .about-left {
    min-height: 40vh; }
  .section-about .about-block {
    height: 15vh; }
  .section-about .about-right .d-flex:nth-child(2) {
    transform: translateX(0) !important; }

  .section-doctors .owl-prev {
    left: 35%; }
  .section-doctors .owl-next {
    right: 35%; } }
@media (max-width: 590px) {
  .section-about .container {
    overflow: hidden; } }
@media (max-width: 576px) {
  html {
    font-size: 60%; }

  .section-doctors .owl-prev {
    left: 26%; }
  .section-doctors .owl-next {
    right: 28%; } }
.section-hero .container {
  position: relative; }
.section-hero .hero-container {
  position: absolute;
  top: 45%;
  left: 0; }
