.footer {
  background-color: #444;
  padding-top: 40vh;
  margin-top: -20vh;
  position: relative;
  z-index: -1;
  color: white;
  &__1 {
    img {
      width: 200px;
      margin-top: -20px;
      margin-bottom: 20px;
    }
    &-text {
      font-size: 12px;
    }
  }
  &__2 {
  }
  &__3 {
  }
  &__4 {
    &-text {
      font-size: 0.8rem;
      margin-bottom: 0.9rem;
    }
  }
  &__nav {
    &-link {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 0.87rem;
      margin-bottom: 0.8rem;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    &-icons {
      a {
        color: $color-primary-light;
        border: 1px solid $color-primary-light;
        height: 1.8rem;
        width: 1.8rem;
        border-radius: 50%;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin-left: 5px;
      }
    }
  }
  .heading__line {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }
}
