.heading__primary {
  color: #213e7b;
  font-size: 3.375rem;
  line-height: 1;
}
.heading__secondary {
  color: #444444;
  font-size: 2.5rem;
  line-height: 1;
}
.heading__tertiary {
  font-size: 2.75rem;
  line-height: 1;
  span {
    font-weight: 400;
  }
  &-blue {
    font-weight: 700;
    color: $color-primary;
  }
}
.heading__tetra {
  font-size: 2.9rem;
  font-weight: 700;
  color: $color-primary;
  line-height: 1;
}
.heading-4 {
  font-size: 1rem;
  color: $color-primary-dark;
}
.heading__line {
  position: relative;
  line-height: 1.2;
  &--light {
    color: $color-primary-light;
  }
  &--light::after {
    background-color: $color-primary-light;
  }
  &::after {
    content: "";
    height: 3px;
    width: 30px;
    margin-top: 6px;
    display: block;
  }
}
@media (max-width: 992px) {
  .heading__primary {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .heading__primary {
    font-size: 2.5rem;
  }
  .heading__secondary {
    font-size: 2rem;
  }
  .heading__tertiary {
    font-size: 2.5rem;
  }
}
