@import "./custom/font-setup";
@import "./custom/switch";
@import "./custom/table";
body {
  font-family: gilroy;
  font-weight: 400;
}
.sidebar {
  min-height: 100vh;
  width: 14.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: left 0.3s;
  &__close {
    position: absolute;
    right: 0.5rem;
    top: -0.3rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    display: none;
    transition: color 0.3s;
    &:hover {
      color: orangered;
    }
  }
}
.sidebar.active {
  left: 0;
}
#home-main {
  position: relative;
  padding: 0 2%;
  margin-left: 14.6rem;
  background-color: #f8f7fa;
  min-height: 100vh;
}
.show-sidebar {
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  border: none;
  background-color: transparent;
  &:hover {
    color: #1c144a;
  }
}
.search-icon {
  margin-left: -2rem;
}
.header {
  height: 3.75rem;
  padding: 0 2rem;
  margin-left: 14.6rem;
  &-left-link {
    font-size: 1.25rem;
    &:first-of-type {
      border-right: 1px solid #000;
      color: #394040;
    }
  }
  &__logo {
    width: 12rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.header-search {
  &::-webkit-input-placeholder {
    color: #cbcbd4;
  }
}
.profile-container {
  height: 2.6rem;
  width: 2.6rem;
}

.drpdwn-items {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    rgba(28, 20, 74, 0.8);
  a {
    &.active {
      color: #00e28d;
    }
  }
}
// section filter
.section-filter {
  height: 4.6rem;
  @import "./custom/dropdown";
}
@media (max-width: 1200px) {
  .filter-container {
    background-color: transparent !important;
  }
  .filter-left {
    margin-bottom: 2rem;
  }
  .filter-left,
  .filter-right {
    justify-content: space-between;
    padding: 0.5rem 0;
    border: 1px solid #1c144a;
  }
}
@media (max-width: 992px) {
  .sidebar {
    left: -100%;
    &__close {
      display: block;
    }
  }
  #home-main,
  .header {
    margin-left: 0;
    padding: 0 1rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 90%;
  }
  .header-left-link:first-of-type {
    font-size: 1.15rem;
    padding-right: 0.5rem !important;
  }
  .header-left-link:last-of-type {
    margin-left: 0.5rem !important;
    font-size: 1.15rem;
  }
  .header__icon a {
    margin-left: 0.5rem !important;
  }
  .profile-container {
    margin-left: 1rem !important;
    height: 2rem;
    width: 2rem;
  }
  .sidebar.active {
    width: 100vw;
  }
}
