@import "./custom/font-setup";
@import "./custom/switch";
@import "./custom/table";
@import "./custom/checkbox";
@import "./custom/datepicker";
body {
  font-family: gilroy;
  font-weight: 400;
}
.sidebar {
  min-height: 100vh;
  width: 14.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: left 0.3s;
  &__close {
    position: absolute;
    right: 0.5rem;
    top: -0.3rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    display: none;
    transition: color 0.3s;
    &:hover {
      color: orangered;
    }
  }
  .drpdwn-container .active {
    color: #00e28d !important;
  }

  .drpdwn-container:hover {
    & > a {
      color: #00e28d !important;
    }
    .sidebar-icon {
      &-path {
        fill: #00e28d;
      }
      &-stroke {
        stroke: #00e28d;
      }
    }
  }
  .sidebar-icon {
    &-path {
      fill: #fff;
    }
    &-stroke {
      stroke: #fff;
    }
  }
}
.sidebar.active {
  left: 0;
}
#home-main {
  position: relative;
  padding: 0 2%;
  margin-left: 14.6rem;
  background-color: #f8f7fa;
  min-height: 100vh;
}
.show-sidebar {
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  border: none;
  background-color: transparent;
  &:hover {
    color: #1c144a;
  }
}
.search-icon {
  margin-left: -2rem;
}
.header {
  height: 3.75rem;
  padding: 0 2rem;
  margin-left: 14.6rem;
  &-left-link {
    font-size: 1.25rem;
    &:first-of-type {
      border-right: 1px solid #000;
      color: #394040;
    }
  }
  &__logo {
    width: 12rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.header-search {
  &::-webkit-input-placeholder {
    color: #cbcbd4;
  }
}
.profile-container {
  height: 2.6rem;
  width: 2.6rem;
}

.drpdwn-items {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    rgba(28, 20, 74, 0.8);
  a {
    &.active {
      color: #00e28d;
    }
  }
}
// section filter
.section-filter {
  border: 1px solid #1c144a;
  @import "./custom/dropdown";
  label {
    font-size: 0.8rem;
  }
  button {
    width: 100%;
  }
  .sort-container {
    width: 7.5rem;
    input {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    #sortDropdown {
      i {
        opacity: 0;
        transition: opacity;
        color: #1c144a;
      }
      input:checked ~ i {
        opacity: 1;
      }
    }
  }
  #category-container {
    width: 9.5rem;
    .switch-item {
      border: 1px solid #eee;
      opacity: 0.7;
      &.active {
        opacity: 1;
      }
      & > * {
        transform: translateY(-3px);
      }
    }
  }
  // export
  #export {
    min-width: 11rem;
    border-top: 1px solid #1c144a;
    input[type="checkbox"] {
      appearance: none;
    }
    #export-box {
      height: 1.2rem;
      width: 1.2rem;
      border: 1px solid #1c144a;
      i {
        opacity: 0;
      }
    }
    input:checked ~ i {
      opacity: 1;
    }
  }
  .exportBtn {
    border: 1px solid transparent;
    background-color: white;
    &.active {
      border: 1px solid #1c144a;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom: 1px solid transparent;
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 1200px) {
  .section-filter {
    background-color: transparent !important;
    border: none;
    .filter {
      &__left {
        margin-bottom: 1.4rem;
      }
      &__left,
      &__right {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: white;
        border: 1px solid #1c144a;
      }
      &__right {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
      }
    }
  }
}
@media (max-width: 992px) {
  .sidebar {
    left: -100%;
    &__close {
      display: block;
    }
  }
  #home-main,
  .header {
    margin-left: 0;
    padding: 0 1rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 90%;
  }
  .header-left-link:first-of-type {
    font-size: 1.15rem;
    padding-right: 0.5rem !important;
  }
  .header-left-link:last-of-type {
    margin-left: 0.5rem !important;
    font-size: 1.15rem;
  }
  .header__icon a {
    margin-left: 0.5rem !important;
  }
  .profile-container {
    margin-left: 1rem !important;
    height: 2rem;
    width: 2rem;
  }
  .sidebar.active {
    width: 100vw;
  }
}
// special purpose breakpoint
@media (max-width: 460px) {
  // filter section
  .section-filter {
    .filter {
      &__left {
        margin-bottom: 0;
        padding-bottom: 0;
        .date-container {
          width: inherit;
          margin-left: 0 !important;
          img {
            transform: translateX(10%);
            // margin-right: 0;
          }
        }
      }
      &__right {
        padding-top: 0;
        padding-right: 0;
        #category-container {
          width: 100%;
        }
      }
      &__left,
      &__right {
        display: block !important;
        background-color: transparent;
        border: none;
        & > * {
          display: block;
          border: 1px solid #1c144a;
          margin-bottom: 1rem;
        }
      }
    }
    .dropdown {
      width: 100%;
      background-color: white;
      text-align: center;
    }
  }
}

// Custom
// Date
// input
.date-container {
  // background-color: red;
  width: 14rem;
  img {
    margin-right: -3rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  i {
    margin-left: -2rem;
  }
  input {
    width: 100% !important;
    border: 1px solid transparent;
    border-top-right-radius: 0.8rem !important;
    border-top-left-radius: 0.8rem !important;
    &:focus {
      outline: none;
      border: 1px solid #1c144a;
      border-bottom: 1px solid transparent;
    }
  }
}
