@import "./custom/font-setup";
@import "./custom/switch";
@import "./custom/table";
body {
  font-family: gilroy;
  font-weight: 400;
}
.sidebar {
  min-height: 100vh;
  width: 14.6rem;
  position: fixed;
  top: 0;
  left: 0;
}
#home-main {
  padding: 0 2%;
  margin-left: 14.6rem;
  background-color: #f8f7fa;
  min-height: 100vh;
}
.search-icon {
  margin-left: -2rem;
}
.header {
  height: 3.75rem;
  &-left-link {
    font-size: 1.25rem;
    &:first-of-type {
      border-right: 1px solid #000;
      color: #394040;
    }
  }
  &__logo {
    width: 12rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.header-search {
  &::-webkit-input-placeholder {
    color: #cbcbd4;
  }
}
.profile-container {
  height: 2.6rem;
  width: 2.6rem;
}

.drpdwn-items {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    rgba(28, 20, 74, 0.8);
  a {
    &.active {
      color: #00e28d;
    }
  }
}
.pickdate-container {
}
.pickdate-icon {
  width: 1.2rem;
}

.pickdate-input {
  border: 1px solid red !important;
}
