.sidebar {
  position: relative;
  overflow: hidden;
  width: 5rem;
  min-height: 100vh;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  position: fixed;
  white-space: nowrap;
  z-index: 5;
  transition: width 0.4s;
  .top-sidebar {
    opacity: 0;
    border-bottom: 1px solid $gray-light-1;
    transition: opacity 0.4s;
    .sidebar-img {
      height: 4.5rem;
      width: 4.5rem;
    }
  }
  .middle-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .bottom-sidebar {
    position: absolute;
    bottom: 2rem;
  }

  a {
    margin-left: 0.8rem;
    color: white;
    &.active {
      color: $color-primary-light;
      svg path {
        stroke: $color-primary-light;
      }
    }
    svg {
      margin-right: 1.6rem;
    }
  }
  svg {
    height: $font30;
    width: $font30;
    path {
      stroke: #fff;
    }
  }
  a:hover {
    color: $color-primary-light;
    path {
      stroke: $color-primary-light;
    }
  }
  &:hover {
    width: 15rem;
    .top-sidebar {
      opacity: 1;
    }
  }
  & > button {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    display: none;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none !important;
    &.active {
      display: block !important;
      button {
        display: block;
        transform: scale(1.5);
      }
    }
  }
}
