main {
  flex: 1;
  background-color: $gray-light-1;
  margin-left: 5rem;
}
body {
  color: #444;
  font-family: "Raleway", sans-serif;
}
.sidebar-open__btn {
  position: fixed;
  top: 1.35rem;
  left: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
@media (max-width: 991.98px) {
  .sidebar-open__btn {
    display: block;
    top: 0.8rem;
  }
  main {
    margin-left: 0;
    .main-content {
      width: 70%;
      margin-left: 15%;
    }
  }
}
