main {
  flex: 1;
  background-color: $gray-light-1;
  margin-left: 5rem;
}
body {
  color: #444;
}
.sidebar-open__btn {
  position: fixed;
  top: 1.35rem;
  left: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
