.header {
  height: 4rem;
  &__search {
    flex: 1;
    i {
      color: $gray-dark-1;
    }
    input {
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  &__noti {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $gray-light-1;
    color: $gray-dark-1;
    border-radius: 50%;
    font-size: 1.56rem;
  }
}
