// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .sidebar {
    display: none !important;
    &.active {
      display: block !important;
      button {
        display: block;
        transform: scale(1.5);
      }
    }
  }
  .header {
    padding-left: 1rem !important;
  }
  .sidebar-open__btn {
    display: block;
    top: 0.8rem;
  }
  main {
    background-color: red;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
  }
  .section-summary {
    // width: 900px;
    // margin-left: auto;
    // margin-right: auto;
    .reports {
      justify-content: space-between;
      height: 18rem !important;

      & > * {
        width: 33%;
      }
      .report {
        div:nth-child(2) {
          font-size: 1rem;
        }
      }
    }
  }
  .nav-tabs button {
    font-size: 80%;
    padding: 0.5rem 1.5rem !important;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // .section-summary {
  //   width: 700px;
  // }
}
// small devices
@media (max-width: 575.98px) {
  // .section-summary {
  //   width: inherit;
  // }
}
