.report {
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
  height: 15rem;
  svg {
    height: 2.4rem;
  }
  div:nth-child(2) {
    font-size: 0.8rem;
  }
  div:nth-child(3) {
    font-size: 2rem;
  }
}
.certificate {
  a {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: $gray-light-1;
    color: $gray-dark-1;
    transition: all 0.3s;
    &:hover {
      color: white;
      background-color: #213e7b;
    }
  }
}
.section-course {
  .progress {
    height: 0.35rem;
    &-bar {
      background-color: $color-primary-light;
    }
  }
  .course-type {
    span:first-of-type {
      color: $gray-dark-1;
    }
    span:last-of-type {
      font-weight: 500;
    }
  }
}
.upcoming-course-content {
  .upcoming-date {
    font-weight: 600;
  }
  .upcoming-content {
    flex: 1;
  }
  .upcoming-status {
    a {
      color: $gray-dark-1;
      &:hover {
        color: #213e7b;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .section-summary {
    .reports {
      justify-content: space-between;

      & > * {
        width: 25%;
      }
      .report {
        height: 18rem !important;
        div:nth-child(2) {
          font-size: 1rem;
        }
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .reports > * {
    width: 33% !important;
  }
  .report {
    height: 13rem;
  }
}
// small devices
@media (max-width: 575.98px) {
  .section-summary,
  .section-course {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .reports > * {
    width: 70% !important;
    margin-left: 15% !important;
    margin-bottom: 1.5rem;
  }
}
