.dash-table {
  flex: 0 0 90%;
  &__head {
    font-weight: bold;
    color: $gray-dark-1;
    div {
      cursor: pointer;
      img {
        height: 0.75rem;
      }
    }
  }
  &__head,
  &__body {
    div:first-of-type {
      flex: 0 0 30%;
    }
    div:nth-child(2) {
      flex: 0 0 10%;
    }
    div:nth-child(3) {
      flex: 0 0 10%;
    }
    div:nth-child(4) {
      flex: 0 0 10%;
    }
    div:nth-child(5) {
      flex: 0 0 10%;
    }
    div:nth-child(6) {
      flex: 0 0 10%;
    }
    div:nth-child(7) {
      flex: 0 0 10%;
      background-color: #f6f6f6;
      align-self: stretch;
    }
  }

  &__body {
    div:first-of-type {
      text-align: left;
    }
    img {
      width: 4rem;
      height: 3.4rem;
      object-fit: cover;
    }
  }
}
.dash-table__head {
  flex: 0 0 90%;
}

@media (max-width: 767.98px) {
  .dash-table {
    &__body {
      display: block !important;
    }
    &__body {
      text-align: right !important;
      div:first-of-type {
        text-align: right;
      }
      div::before {
        content: attr(data-label);
        float: left;
      }
    }
  }
}
