@import "./variable";
@import "./base";
@import "./aside";
@import "./header";
@import "./utils";
@import "./pagination";
@import "./table";
@import "./responsive";

.nav-tabs {
  border: none;
}
.course-btn {
  background-color: white;
  color: $color-secondary;
  border: none;
  border-radius: 1.4rem;
  &.active {
    background-color: $color-secondary;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}
.circle {
  background-color: $color-primary-light;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}
