@import "./variable";
@import "./base";
@import "./aside";
@import "./header";
@import "./utils";
.profile {
  &__img-container {
    position: relative;
    height: 9rem;
    width: 9rem;
    margin-left: 45%;
    cursor: pointer;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      display: none;
      background-color: rgba($gray-dark-1, 0.4);
      border-radius: 50%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover::before {
      display: block;
    }
    &:hover .profile__icon {
      opacity: 1;
    }
  }
  &__img {
    margin: 0 auto;
    height: inherit;
    width: inherit;
  }
  &__icon {
    opacity: 0;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s;
  }
}
.edit-icon {
  // background-color: red;
  background-color: #f0f0f0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;

  color: #444;
  font-size: 1.25rem;
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .section-profile {
    width: 90%;
    margin-left: 5%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .profile {
    &__img-container {
      margin-left: 35%;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .profile {
    &__img-container {
      margin-left: 30%;
      height: 7rem;
      width: 7rem;
    }
  }
}
// small devices
@media (max-width: 575.98px) {
  .profile {
    &__img-container {
      margin-left: 25%;
      height: 6rem;
      width: 6rem;
    }
  }
}
