html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  position: relative;
  font-family: "Raleway", sans-serif; }

.title {
  font-size: 4.7rem;
  position: relative; }
  .title::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    height: 3px;
    width: 55px;
    background-image: linear-gradient(to right, #1ab0f2, #4fe699); }

.bg-light-gray {
  background-color: #f0f0f0; }

@media (min-width: 1200px) {
  html {
    font-size: 80%; } }
@media (max-width: 992px) {
  html {
    font-size: 70%; } }
@media (max-width: 768px) {
  html {
    font-size: 65%; } }
@media (max-width: 576px) {
  html {
    font-size: 60%; } }
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3; }

.hero-single {
  position: relative;
  height: 100vh; }
.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-40%); }
  .hero-content h1 {
    font-size: 6rem; }
  .hero-content img {
    height: 8.5rem; }
.hero-bg-img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }

.section-home-description {
  min-height: 80vh; }
  .section-home-description p {
    position: relative; }
    .section-home-description p::after {
      content: "";
      position: absolute;
      bottom: -30%;
      left: 0;
      height: 3px;
      width: 30vw;
      background-image: linear-gradient(to right, #1ab0f2, #080a87); }

.section-home-service {
  padding: 10rem 0; }
  .section-home-service .title {
    margin-bottom: 10rem; }
  .section-home-service img {
    height: 7rem;
    width: 7rem;
    object-fit: cover; }
  .section-home-service p {
    font-weight: 500;
    font-size: 95%; }

.footer-logo {
  height: 10.4rem; }
.footer p {
  font-size: 1.1rem; }
.footer-link {
  font-weight: 500;
  font-size: 1.2rem; }
.footer-socials a {
  height: 3rem; }
  .footer-socials a:hover path {
    stroke: #1ab0f2; }
.footer form {
  font-size: 1.1rem; }
  .footer form input {
    border-radius: 0.5rem 0 0 0.5rem; }
  .footer form .btn {
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    background-color: #c6c6c6; }

@media (min-width: 1200px) {
  html {
    font-size: 80%; } }
@media (max-width: 992px) {
  html {
    font-size: 70%; } }
@media (max-width: 768px) {
  html {
    font-size: 65%; }

  .footer-links {
    margin-left: 0 !important; } }
@media (max-width: 576px) {
  html {
    font-size: 60%; } }
.partners {
  padding: 10rem 0; }
  .partners p {
    display: none; }
  .partners .owl-nav {
    position: relative;
    margin-top: 5rem; }
    .partners .owl-nav .owl-prev,
    .partners .owl-nav .owl-next {
      position: absolute;
      transform: scale(2.3); }
    .partners .owl-nav .owl-prev {
      left: 30%; }
    .partners .owl-nav .owl-next {
      right: 30%; }
  .partners .owl-dots {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%); }
    .partners .owl-dots .owl-dot.active span {
      background-color: #1ab0f2; }
    .partners .owl-dots span {
      display: inline-block;
      border-radius: 50%;
      margin-right: 1rem;
      height: 1rem;
      width: 1rem;
      background-color: #707070; }

#partner-svg {
  width: 16.5rem !important;
  height: 6.8rem !important; }

.partners .owl-item {
  margin-top: 3rem; }
.partners .owl-item.active.center {
  margin-top: 0; }
  .partners .owl-item.active.center #partner-svg {
    width: 25.7rem !important;
    height: 10.6rem !important; }
  .partners .owl-item.active.center p {
    display: block; }

@media (max-width: 600px) {
  .owl-item.active.center {
    margin-left: 25vw !important; }

  .owl-dots {
    bottom: 15%; } }
@media (max-width: 400px) {
  .owl-item.active.center {
    margin-left: 10vw !important; } }

/*# sourceMappingURL=home.css.map */
