// mixins
@mixin gradient($height, $width, $start-color, $end-color) {
  height: $height;
  width: $width;
  background-image: linear-gradient(to right, $start-color, $end-color);
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  position: relative;
  font-family: "Raleway", sans-serif;
}
.title {
  font-size: 4.7rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    @include gradient(3px, 55px, #1ab0f2, #4fe699);
  }
}
.bg-light-gray {
  background-color: #f0f0f0;
}
// responsive
//devices
// xl

// lg
@media (min-width: 1200px) {
  html {
    font-size: 80%;
  }
}
// md
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
}
// sm
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}
// xs
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}
