.font-30 {
  font-size: 1.3rem; }

main {
  flex: 1;
  background-color: #f6f6f6;
  margin-left: 5rem; }

body {
  color: #444;
  font-family: "Raleway", sans-serif; }

.sidebar-open__btn {
  position: fixed;
  top: 1.35rem;
  left: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; }

@media (max-width: 991.98px) {
  .sidebar-open__btn {
    display: block;
    top: 0.8rem; }

  main {
    margin-left: 0; }
    main .main-content {
      width: 70%;
      margin-left: 15%; } }
.sidebar {
  position: relative;
  overflow: hidden;
  width: 5rem;
  min-height: 100vh;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  position: fixed;
  white-space: nowrap;
  z-index: 5;
  transition: width 0.4s; }
  .sidebar .top-sidebar {
    opacity: 0;
    border-bottom: 1px solid #f6f6f6;
    transition: opacity 0.4s; }
    .sidebar .top-sidebar .sidebar-img {
      height: 4.5rem;
      width: 4.5rem; }
  .sidebar .middle-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .sidebar .bottom-sidebar {
    position: absolute;
    bottom: 2rem; }
  .sidebar a {
    margin-left: 0.8rem;
    color: white; }
    .sidebar a.active {
      color: #00afdd; }
      .sidebar a.active svg path {
        stroke: #00afdd; }
    .sidebar a svg {
      margin-right: 1.6rem; }
  .sidebar svg {
    height: 1.3rem;
    width: 1.3rem; }
    .sidebar svg path {
      stroke: #fff; }
  .sidebar a:hover {
    color: #00afdd; }
    .sidebar a:hover path {
      stroke: #00afdd; }
  .sidebar:hover {
    width: 15rem; }
    .sidebar:hover .top-sidebar {
      opacity: 1; }
  .sidebar > button {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    display: none; }

@media (max-width: 991.98px) {
  .sidebar {
    display: none !important; }
    .sidebar.active {
      display: block !important; }
      .sidebar.active button {
        display: block;
        transform: scale(1.5); } }
.header {
  height: 4rem;
  margin-left: 5rem; }
  .header__search {
    flex: 1; }
    .header__search i {
      color: #afadad; }
    .header__search input {
      width: 100%;
      border: none; }
      .header__search input:focus {
        outline: none; }
  .header__noti {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1.56rem; }

@media (max-width: 991.98px) {
  .header {
    height: 3rem;
    margin-left: 3rem;
    padding-left: 1rem !important; }

  .header__noti {
    height: 2rem;
    width: 2rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2rem; } }
.radius-8 {
  border-radius: 0.8rem; }

.f-18 {
  font-size: 0.76rem; }

.pagination div {
  height: 2rem;
  width: 2rem;
  background-color: #ddd;
  cursor: pointer; }
  .pagination div.active {
    color: #fff !important;
    background-color: #213e7b; }

.dash-table {
  flex: 0 0 90%; }
  .dash-table__head {
    font-weight: bold;
    color: #afadad; }
    .dash-table__head div {
      cursor: pointer; }
      .dash-table__head div img {
        height: 0.75rem; }
  .dash-table__head div:first-of-type, .dash-table__body div:first-of-type {
    flex: 0 0 30%; }
  .dash-table__head div:nth-child(2), .dash-table__body div:nth-child(2) {
    flex: 0 0 10%; }
  .dash-table__head div:nth-child(3), .dash-table__body div:nth-child(3) {
    flex: 0 0 10%; }
  .dash-table__head div:nth-child(4), .dash-table__body div:nth-child(4) {
    flex: 0 0 10%; }
  .dash-table__head div:nth-child(5), .dash-table__body div:nth-child(5) {
    flex: 0 0 10%; }
  .dash-table__head div:nth-child(6), .dash-table__body div:nth-child(6) {
    flex: 0 0 10%; }
  .dash-table__head div:nth-child(7), .dash-table__body div:nth-child(7) {
    flex: 0 0 10%;
    background-color: #f6f6f6;
    align-self: stretch; }
  .dash-table__body div:first-of-type {
    text-align: left; }
  .dash-table__body img {
    width: 4rem;
    height: 3.4rem;
    object-fit: cover; }

.dash-table__head {
  flex: 0 0 90%; }

.table-action {
  margin-top: 1rem;
  width: 90%;
  margin-left: 5px;
  text-align: center;
  font-size: .7rem; }
  .table-action.active button {
    background-color: #213E7B !important; }
  .table-action button {
    width: 100%;
    background-color: #8D8D8D;
    color: white;
    border: none;
    padding: 5px 0;
    border-radius: .5rem; }

.section-certification .dash-table__head div:first-of-type, .section-certification .dash-table__head div:nth-child(2), .section-certification .dash-table__body div:first-of-type, .section-certification .dash-table__body div:nth-child(2) {
  flex: 0 0 23%;
  text-align: center; }

@media (max-width: 991px) {
  .dash-table__content {
    padding-left: 1rem;
    padding-right: 1rem; }
  .dash-table__body {
    display: block !important; }
  .dash-table__body {
    text-align: right !important; }
    .dash-table__body div:first-of-type {
      text-align: right; }
    .dash-table__body div::before {
      content: attr(data-label);
      float: left; }

  .table-action {
    text-align: right !important;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem; }
    .table-action button {
      width: 100px;
      font-weight: bold; }
    .table-action::before {
      content: attr(data-label);
      float: left;
      font-weight: bold; }

  .section-certification .dash-table__head div:first-of-type, .section-certification .dash-table__head div:nth-child(2), .section-certification .dash-table__body div:first-of-type, .section-certification .dash-table__body div:nth-child(2) {
    text-align: right; } }
