.font-30 {
  font-size: 1.3rem; }

main {
  flex: 1;
  background-color: #f6f6f6;
  margin-left: 5rem; }

body {
  color: #444; }

.sidebar-open__btn {
  position: fixed;
  top: 1.35rem;
  left: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; }

.sidebar {
  position: relative;
  overflow: hidden;
  width: 5rem;
  min-height: 100vh;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  position: fixed;
  white-space: nowrap;
  transition: width 0.4s; }
  .sidebar .top-sidebar {
    opacity: 0;
    border-bottom: 1px solid #f6f6f6;
    transition: opacity 0.4s; }
    .sidebar .top-sidebar .sidebar-img {
      height: 4.5rem;
      width: 4.5rem; }
  .sidebar .middle-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .sidebar .bottom-sidebar {
    position: absolute;
    bottom: 2rem; }
  .sidebar a {
    margin-left: 0.8rem;
    color: white; }
    .sidebar a svg {
      margin-right: 1.6rem; }
  .sidebar svg {
    height: 1.3rem;
    width: 1.3rem; }
    .sidebar svg path {
      stroke: #fff; }
  .sidebar a:hover {
    color: #00afdd; }
    .sidebar a:hover path {
      stroke: #00afdd; }
  .sidebar:hover {
    width: 15rem; }
    .sidebar:hover .top-sidebar {
      opacity: 1; }
  .sidebar > button {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    display: none; }

.header {
  height: 4rem;
  margin-left: 5rem; }
  .header__search {
    flex: 1; }
    .header__search i {
      color: #afadad; }
    .header__search input {
      width: 100%;
      border: none; }
      .header__search input:focus {
        outline: none; }
  .header__noti {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1.56rem; }

@media (max-width: 991.98px) {
  .header {
    height: 3rem;
    margin-left: 3rem; }

  .header__noti {
    height: 2rem;
    width: 2rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2rem; } }
.radius-8 {
  border-radius: 0.8rem; }

.f-18 {
  font-size: 0.76rem; }

.pagination div {
  height: 2rem;
  width: 2rem;
  background-color: #ddd;
  cursor: pointer; }
  .pagination div.active {
    color: #fff !important;
    background-color: #213e7b; }

.dash-table__head, .dash-table__body {
  text-align: center; }
  .dash-table__head div:first-of-type, .dash-table__body div:first-of-type {
    flex: 25%; }
  .dash-table__head div:nth-child(2), .dash-table__body div:nth-child(2) {
    flex: 25%; }
  .dash-table__head div:nth-child(3), .dash-table__body div:nth-child(3) {
    flex: 10%; }
  .dash-table__head div:nth-child(4), .dash-table__body div:nth-child(4) {
    flex: 10%; }
  .dash-table__head div:nth-child(5), .dash-table__body div:nth-child(5) {
    flex: 10%; }
.dash-table__body div:first-of-type {
  text-align: left; }

@media (max-width: 767.98px) {
  .dash-table__body {
    display: block !important; }
  .dash-table__body {
    text-align: right !important; }
    .dash-table__body div:first-of-type {
      text-align: right; }
    .dash-table__body div::before {
      content: attr(data-label);
      float: left; } }
@media (max-width: 991.98px) {
  .sidebar {
    display: none !important; }
    .sidebar.active {
      display: block !important; }
      .sidebar.active button {
        display: block;
        transform: scale(1.5); }

  .header {
    padding-left: 1rem !important; }

  .sidebar-open__btn {
    display: block;
    top: 0.8rem; }

  main {
    margin-left: 0; }
    main .main-content {
      width: 70%;
      margin-left: 15%; } }
.nav-tabs {
  border: none; }

.course-btn {
  background-color: white;
  color: #213e7b;
  border: none;
  border-radius: 1.4rem; }
  .course-btn.active {
    background-color: #213e7b;
    color: #fff; }
  .course-btn:focus {
    outline: none; }

.circle {
  background-color: #00afdd;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem; }

@media (max-width: 991.98px) {
  .section-courses {
    padding-left: 4% !important;
    padding-right: 4% !important; }
    .section-courses #inperson-tab {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important; }
    .section-courses .nav-tabs button {
      font-size: 80%;
      padding: 0.5rem 1.5rem !important; } }
@media (max-width: 575.98px) {
  .nav-tabs button {
    margin-top: 1rem;
    font-size: 70% !important;
    padding: 0.3rem 1.3rem !important; } }

/*# sourceMappingURL=courses.css.map */
