.font-30 {
  font-size: 1.3rem; }

.sidebar {
  width: 5rem;
  min-height: 100vh;
  flex-direction: column;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem; }
  .sidebar svg {
    height: 1.3rem;
    width: 1.3rem; }
    .sidebar svg path {
      stroke: #fff; }
  .sidebar a:hover path {
    stroke: #00afdd; }

.header {
  height: 4rem; }
  .header__search {
    flex: 1; }
    .header__search i {
      color: #afadad; }
    .header__search input {
      width: 100%;
      border: none; }
      .header__search input:focus {
        outline: none; }
  .header__noti {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1.56rem; }

.report {
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden; }
  .report svg {
    height: 2.4rem; }
  .report div:nth-child(2) {
    font-size: 0.8rem; }
  .report div:nth-child(3) {
    font-size: 2rem; }

main {
  flex: 1;
  background-color: #f6f6f6; }
