.font-30 {
  font-size: 1.3rem; }

main {
  flex: 1;
  background-color: #f6f6f6;
  margin-left: 5rem; }

body {
  color: #444;
  font-family: "Raleway", sans-serif; }

.sidebar-open__btn {
  position: fixed;
  top: 1.35rem;
  left: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; }

@media (max-width: 991.98px) {
  .sidebar-open__btn {
    display: block;
    top: 0.8rem; }

  main {
    margin-left: 0; }
    main .main-content {
      width: 70%;
      margin-left: 15%; } }
.sidebar {
  position: relative;
  overflow: hidden;
  width: 5rem;
  min-height: 100vh;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  position: fixed;
  white-space: nowrap;
  z-index: 5;
  transition: width 0.4s; }
  .sidebar .top-sidebar {
    opacity: 0;
    border-bottom: 1px solid #f6f6f6;
    transition: opacity 0.4s; }
    .sidebar .top-sidebar .sidebar-img {
      height: 4.5rem;
      width: 4.5rem; }
  .sidebar .middle-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .sidebar .bottom-sidebar {
    position: absolute;
    bottom: 2rem; }
  .sidebar a {
    margin-left: 0.8rem;
    color: white; }
    .sidebar a.active {
      color: #00afdd; }
      .sidebar a.active svg path {
        stroke: #00afdd; }
    .sidebar a svg {
      margin-right: 1.6rem; }
  .sidebar svg {
    height: 1.3rem;
    width: 1.3rem; }
    .sidebar svg path {
      stroke: #fff; }
  .sidebar a:hover {
    color: #00afdd; }
    .sidebar a:hover path {
      stroke: #00afdd; }
  .sidebar:hover {
    width: 15rem; }
    .sidebar:hover .top-sidebar {
      opacity: 1; }
  .sidebar > button {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    display: none; }

@media (max-width: 991.98px) {
  .sidebar {
    display: none !important; }
    .sidebar.active {
      display: block !important; }
      .sidebar.active button {
        display: block;
        transform: scale(1.5); } }
.header {
  height: 4rem;
  margin-left: 5rem; }
  .header__search {
    flex: 1; }
    .header__search i {
      color: #afadad; }
    .header__search input {
      width: 100%;
      border: none; }
      .header__search input:focus {
        outline: none; }
  .header__noti {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1.56rem; }

@media (max-width: 991.98px) {
  .header {
    height: 3rem;
    margin-left: 3rem;
    padding-left: 1rem !important; }

  .header__noti {
    height: 2rem;
    width: 2rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2rem; } }
.report {
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
  height: 15rem;
  width: 30%; }
  .report svg {
    height: 2.4rem; }
  .report div:nth-child(2) {
    font-size: 0.8rem; }
  .report div:nth-child(3) {
    font-size: 2rem; }

.certificate a {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #f6f6f6;
  color: #afadad;
  transition: all 0.3s; }
  .certificate a:hover {
    color: white;
    background-color: #213e7b; }

.section-course .progress {
  height: 0.35rem; }
  .section-course .progress-bar {
    background-color: #00afdd; }
.section-course .course-type span:first-of-type {
  color: #afadad; }
.section-course .course-type span:last-of-type {
  font-weight: 500; }

.single-ongoing-course {
  position: relative;
  overflow: hidden; }
  .single-ongoing-course::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.904), rgba(0, 175, 221, 0.3), rgba(0, 175, 221, 0.8));
    transition: all 0.3s; }
  .single-ongoing-course:hover::before {
    opacity: 1;
    visibility: visible;
    z-index: 1; }
  .single-ongoing-course .ongoing-btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s; }
  .single-ongoing-course:hover .ongoing-btn {
    opacity: 1;
    visibility: visible;
    z-index: 2; }

.upcoming-course-content .upcoming-date {
  font-weight: 600; }
.upcoming-course-content .upcoming-content {
  flex: 1; }
.upcoming-course-content .upcoming-status a {
  color: #afadad; }
  .upcoming-course-content .upcoming-status a:hover {
    color: #213e7b; }

@media (max-width: 991.98px) {
  .section-summary .reports > * {
    width: 25%; }
  .section-summary .reports .report {
    height: 18rem !important; }
    .section-summary .reports .report div:nth-child(2) {
      font-size: 1rem; } }
@media (max-width: 767.98px) {
  .reports > * {
    width: 30% !important; }

  .report {
    height: 13rem; } }
@media (max-width: 575.98px) {
  .section-summary,
  .section-course {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  .reports > * {
    width: 70% !important;
    margin-left: 15% !important;
    margin-bottom: 1.5rem; } }
.radius-8 {
  border-radius: 0.8rem; }

.f-18 {
  font-size: 0.76rem; }

.apexcharts-toolbar {
  display: none !important; }

.apexcharts-text {
  fill: #afadad !important; }

.chart-btns {
  width: 200px;
  margin-left: 18%; }
  .chart-btns .btn {
    padding: 0.375rem 0.5rem;
    border: 1px solid #afadad; }
    .chart-btns .btn.active {
      border: 1px solid #213e7b; }

@media (max-width: 625.98px) {
  .upcoming-course-content {
    display: block !important;
    padding-right: 0 !important; }
    .upcoming-course-content > * {
      margin-bottom: 1.5rem; } }
