.font-30 {
  font-size: 1.3rem; }

main {
  flex: 1;
  background-color: #f6f6f6;
  margin-left: 5rem; }

body {
  color: #444; }

.sidebar-open__btn {
  position: fixed;
  top: 1.35rem;
  left: 2%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none; }

.sidebar {
  position: relative;
  overflow: hidden;
  width: 5rem;
  min-height: 100vh;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  position: fixed;
  white-space: nowrap;
  transition: width 0.4s; }
  .sidebar .top-sidebar {
    opacity: 0;
    border-bottom: 1px solid #f6f6f6;
    transition: opacity 0.4s; }
    .sidebar .top-sidebar .sidebar-img {
      height: 4.5rem;
      width: 4.5rem; }
  .sidebar .middle-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .sidebar .bottom-sidebar {
    position: absolute;
    bottom: 2rem; }
  .sidebar a {
    margin-left: 0.8rem;
    color: white; }
    .sidebar a.active {
      color: #00afdd; }
      .sidebar a.active svg path {
        stroke: #00afdd; }
    .sidebar a svg {
      margin-right: 1.6rem; }
  .sidebar svg {
    height: 1.3rem;
    width: 1.3rem; }
    .sidebar svg path {
      stroke: #fff; }
  .sidebar a:hover {
    color: #00afdd; }
    .sidebar a:hover path {
      stroke: #00afdd; }
  .sidebar:hover {
    width: 15rem; }
    .sidebar:hover .top-sidebar {
      opacity: 1; }
  .sidebar > button {
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    border: none;
    display: none; }

.header {
  height: 4rem;
  margin-left: 5rem; }
  .header__search {
    flex: 1; }
    .header__search i {
      color: #afadad; }
    .header__search input {
      width: 100%;
      border: none; }
      .header__search input:focus {
        outline: none; }
  .header__noti {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1.56rem; }

@media (max-width: 991.98px) {
  .header {
    height: 3rem;
    margin-left: 3rem; }

  .header__noti {
    height: 2rem;
    width: 2rem;
    background-color: #f6f6f6;
    color: #afadad;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 2rem; } }
.radius-8 {
  border-radius: 0.8rem; }

.f-18 {
  font-size: 0.76rem; }

@media (max-width: 991.98px) {
  .sidebar {
    display: none !important; }
    .sidebar.active {
      display: block !important; }
      .sidebar.active button {
        display: block;
        transform: scale(1.5); }

  .header {
    padding-left: 1rem !important; }

  .sidebar-open__btn {
    display: block;
    top: 0.8rem; }

  main {
    margin-left: 0; }
    main .main-content {
      width: 70%;
      margin-left: 15%; } }
.profile__img-container {
  position: relative;
  height: 9rem;
  width: 9rem;
  margin-left: 45%;
  cursor: pointer; }
  .profile__img-container::before {
    content: "";
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(175, 173, 173, 0.4);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
  .profile__img-container:hover::before {
    display: block; }
  .profile__img-container:hover .profile__icon {
    opacity: 1; }
.profile__img {
  margin: 0 auto;
  height: inherit;
  width: inherit; }
.profile__icon {
  opacity: 0;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s; }

.edit-icon {
  background-color: #f0f0f0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: #444;
  font-size: 1.25rem; }

@media (max-width: 991.98px) {
  .profile__img-container {
    margin-left: 35%; } }
@media (max-width: 767.98px) {
  .profile__img-container {
    margin-left: 30%;
    height: 7rem;
    width: 7rem; } }
@media (max-width: 575.98px) {
  .profile__img-container {
    margin-left: 25%;
    height: 6rem;
    width: 6rem; } }

/*# sourceMappingURL=profile.css.map */
