@font-face {
  font-family: "helvetika";
  src: url("../../fonts/hel-500.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "helvetika";
  src: url("../../fonts/hel-700.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "helvetika";
  src: url("../../fonts/hel-900.ttf");
  font-weight: 900;
}
