@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-Black.ttf");
  font-family: 400; }
@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-ExtraBold.ttf");
  font-family: 900; }
input {
  display: block;
  opacity: 0; }

label {
  position: relative;
  width: 45px;
  height: 20px;
  display: inline-block;
  background: #1c144a;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border: 1px solid #1c144a;
  opacity: 0.7; }

label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 3px 6px #666666;
  transition: all 0.3s; }

input:checked + label {
  background: #1c144a;
  opacity: 1; }

input:checked + label:after {
  left: auto;
  right: 2px; }

table {
  border: 1px solid #1c144a;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #1c144a; }

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em; }

table tr {
  border: 1px solid #1c144a;
  padding: 0.35em;
  height: 4rem; }

table th,
table td {
  padding: 0.625em;
  text-align: center; }

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

@media screen and (max-width: 600px) {
  table {
    border: 0; }

  table caption {
    font-size: 1.3em; }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  table tr {
    border-bottom: 3px solid #1c144a;
    display: block;
    margin-bottom: 0.625em; }

  table td {
    border-bottom: 1px solid #1c144a;
    display: block;
    font-size: 0.8em;
    text-align: right; }

  table td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }

  table td:last-child {
    border-bottom: 0; } }
.table-img-1 {
  height: 2rem;
  width: 2rem;
  border-radius: 50%; }
  .table-img-1 img {
    height: 1rem; }

body {
  font-family: gilroy;
  font-weight: 400; }

.sidebar {
  min-height: 100vh;
  width: 14.6rem;
  position: fixed;
  top: 0;
  left: 0; }

#home-main {
  padding: 0 2%;
  margin-left: 14.6rem;
  background-color: #f8f7fa;
  min-height: 100vh; }

.search-icon {
  margin-left: -2rem; }

.header {
  height: 3.75rem; }
  .header-left-link {
    font-size: 1.25rem; }
    .header-left-link:first-of-type {
      border-right: 1px solid #000;
      color: #394040; }
  .header__logo {
    width: 12rem; }
    .header__logo img {
      width: 100%;
      height: 100%; }

.header-search::-webkit-input-placeholder {
  color: #cbcbd4; }

.profile-container {
  height: 2.6rem;
  width: 2.6rem; }

.drpdwn-items {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), rgba(28, 20, 74, 0.8); }
  .drpdwn-items a.active {
    color: #00e28d; }
