@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-Light.otf");
  font-family: 300; }
@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-Medium-1.otf");
  font-family: 400; }
@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-SemiBold.otf");
  font-family: 600; }
@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-ExtraBold-1.otf");
  font-family: 800; }
.switch {
  display: block;
  opacity: 0; }

.switch-container label {
  position: relative;
  width: 2rem;
  height: 1rem;
  display: inline-block;
  background: #1c144a;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border: 1px solid #1c144a;
  opacity: 0.7; }

.switch-container label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 0.65rem;
  height: 0.65rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 3px 6px #666666;
  transition: all 0.3s; }

.switch:checked + label {
  background: #1c144a;
  opacity: 1; }

.switch:checked + label:after {
  left: auto;
  right: 2px; }

.table-info {
  border: 1px solid #1c144a;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #1c144a; }

.table-info tr {
  border: 1px solid #1c144a;
  padding: 0.5rem 1.5rem; }

.table-info th,
.table-info td {
  padding: 1rem 0.625em;
  padding-left: 5%; }

.table-info th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

@media screen and (max-width: 700px) {
  .table-info {
    border: 0; }

  .table-info caption {
    font-size: 1.3em; }

  .table-info thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

  .table-info tr {
    border-bottom: 3px solid #1c144a;
    display: block;
    margin-bottom: 0.625em; }

  .table-info td {
    border-bottom: 1px solid #1c144a;
    display: block;
    font-size: 0.8em;
    text-align: right; }

  .table-info td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }

  .table-info td:last-child {
    border-bottom: 0; } }
.table-img-1 {
  height: 2rem;
  width: 2rem;
  border-radius: 50%; }
  .table-img-1 img {
    height: 1rem; }

@media (max-width: 1200px) {
  .table-info th,
  .table-info td {
    padding-left: 2%; } }
@media (max-width: 768px) {
  .table-info th,
  .table-info td {
    padding-left: 1%; } }
.checkbox-container {
  display: block;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 5px;
  display: flex;
  align-items: center; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 0.9rem;
  width: 0.9rem;
  border: 2px solid #1c144a; }

/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border: 2px solid #1c144a; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  border: solid #1c144a;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px;
  top: -3px;
  width: 0.4rem;
  height: 0.8rem; }

.ui-datepicker {
  width: 14rem !important;
  border: 1px solid #1c144a !important;
  border-bottom-right-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important; }
  .ui-datepicker td a {
    text-align: center !important; }
  .ui-datepicker-title {
    width: 7rem; }
  .ui-datepicker .ui-state-default,
  .ui-datepicker .ui-widget-content .ui-state-default,
  .ui-datepicker .ui-widget-header .ui-state-default,
  .ui-datepicker .ui-button,
  .ui-datepicker html .ui-button.ui-state-disabled:hover,
  .ui-datepicker html .ui-button.ui-state-disabled:active {
    color: #1c144a !important;
    font-size: 0.75rem !important;
    border: none !important;
    background-color: white !important; }
  .ui-datepicker .ui-state-active {
    background-color: #1c144a !important;
    color: #00e28d !important;
    padding: 1px 0.2em !important;
    border-radius: 0.8rem; }
  .ui-datepicker .ui-widget-header {
    background-color: white !important;
    border: none !important;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%); }
  .ui-datepicker .ui-datepicker-prev span {
    background-position: 0px 0px !important;
    transform: scale(1.5) rotate(-90deg); }
  .ui-datepicker .ui-datepicker-next span {
    font-size: 1.5rem;
    background-position: 0px 0px !important;
    transform: scale(1.5) rotate(90deg); }
  .ui-datepicker .ui-state-hover {
    border: none !important;
    margin: 0 !important;
    background-color: transparent !important; }
  .ui-datepicker .ui-datepicker-next-hover {
    top: 0px !important;
    right: 0px !important; }
  .ui-datepicker .ui-datepicker-prev-hover {
    left: 0px !important;
    top: 0px !important; }

body {
  font-family: gilroy;
  font-weight: 400; }

.sidebar {
  min-height: 100vh;
  width: 14.6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: left 0.3s; }
  .sidebar__close {
    position: absolute;
    right: 0.5rem;
    top: -0.3rem;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    display: none;
    transition: color 0.3s; }
    .sidebar__close:hover {
      color: orangered; }
  .sidebar .drpdwn-container .active {
    color: #00e28d !important; }
  .sidebar .drpdwn-container:hover > a {
    color: #00e28d !important; }
  .sidebar .drpdwn-container:hover .sidebar-icon-path {
    fill: #00e28d; }
  .sidebar .drpdwn-container:hover .sidebar-icon-stroke {
    stroke: #00e28d; }
  .sidebar .sidebar-icon-path {
    fill: #fff; }
  .sidebar .sidebar-icon-stroke {
    stroke: #fff; }

.sidebar.active {
  left: 0; }

#home-main {
  position: relative;
  padding: 0 2%;
  margin-left: 14.6rem;
  background-color: #f8f7fa;
  min-height: 100vh; }

.show-sidebar {
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  border: none;
  background-color: transparent; }
  .show-sidebar:hover {
    color: #1c144a; }

.search-icon {
  margin-left: -2rem; }

.header {
  height: 3.75rem;
  padding: 0 2rem;
  margin-left: 14.6rem; }
  .header-left-link {
    font-size: 1.25rem; }
    .header-left-link:first-of-type {
      border-right: 1px solid #000;
      color: #394040; }
  .header__logo {
    width: 12rem; }
    .header__logo img {
      width: 100%;
      height: 100%; }

.header-search::-webkit-input-placeholder {
  color: #cbcbd4; }

.profile-container {
  height: 2.6rem;
  width: 2.6rem; }

.drpdwn-items {
  display: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), rgba(28, 20, 74, 0.8); }
  .drpdwn-items a.active {
    color: #00e28d; }

.section-filter {
  border: 1px solid #1c144a; }
  .section-filter .dropbtn {
    font-size: 1.1rem;
    background-color: white;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    .section-filter .dropbtn.active {
      border: 1px solid #1c144a; }
  .section-filter .dropbtn:hover,
  .section-filter .dropbtn:focus {
    color: #2980b9; }
  .section-filter .dropdown {
    position: relative;
    display: inline-block; }
  .section-filter .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #1c144a;
    background-color: white;
    border-top: none;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
    .section-filter .dropdown-content--right {
      right: 0;
      border-top-left-radius: 10px; }
  .section-filter .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .section-filter .dropdown a:hover {
    background-color: #ddd; }
  .section-filter .show {
    display: block; }
  @media (max-width: 460px) {
    .section-filter .dropdown-content--right {
      border-top-left-radius: 0; } }
  .section-filter label {
    font-size: 0.8rem; }
  .section-filter button {
    width: 100%; }
  .section-filter .sort-container {
    width: 7.5rem; }
    .section-filter .sort-container input {
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .section-filter .sort-container #sortDropdown i {
      opacity: 0;
      transition: opacity;
      color: #1c144a; }
    .section-filter .sort-container #sortDropdown input:checked ~ i {
      opacity: 1; }
  .section-filter #category-container {
    width: 9.5rem; }
    .section-filter #category-container .switch-item {
      border: 1px solid #eee;
      opacity: 0.7; }
      .section-filter #category-container .switch-item.active {
        opacity: 1; }
      .section-filter #category-container .switch-item > * {
        transform: translateY(-3px); }
  .section-filter #export {
    min-width: 11rem;
    border-top: 1px solid #1c144a; }
    .section-filter #export input[type="checkbox"] {
      appearance: none; }
    .section-filter #export #export-box {
      height: 1.2rem;
      width: 1.2rem;
      border: 1px solid #1c144a; }
      .section-filter #export #export-box i {
        opacity: 0; }
    .section-filter #export input:checked ~ i {
      opacity: 1; }
  .section-filter .exportBtn {
    border: 1px solid transparent;
    background-color: white; }
    .section-filter .exportBtn.active {
      border: 1px solid #1c144a;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom: 1px solid transparent; }
    .section-filter .exportBtn:focus {
      outline: none; }

@media (max-width: 1200px) {
  .section-filter {
    background-color: transparent !important;
    border: none; }
    .section-filter .filter__left {
      margin-bottom: 1.4rem; }
    .section-filter .filter__left, .section-filter .filter__right {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: white;
      border: 1px solid #1c144a; }
    .section-filter .filter__right {
      display: flex;
      justify-content: space-between;
      padding-right: 1rem; } }
@media (max-width: 992px) {
  .sidebar {
    left: -100%; }
    .sidebar__close {
      display: block; }

  #home-main,
  .header {
    margin-left: 0;
    padding: 0 1rem; } }
@media (max-width: 576px) {
  html {
    font-size: 90%; }

  .header-left-link:first-of-type {
    font-size: 1.15rem;
    padding-right: 0.5rem !important; }

  .header-left-link:last-of-type {
    margin-left: 0.5rem !important;
    font-size: 1.15rem; }

  .header__icon a {
    margin-left: 0.5rem !important; }

  .profile-container {
    margin-left: 1rem !important;
    height: 2rem;
    width: 2rem; }

  .sidebar.active {
    width: 100vw; } }
@media (max-width: 460px) {
  .section-filter .filter__left {
    margin-bottom: 0;
    padding-bottom: 0; }
    .section-filter .filter__left .date-container {
      width: inherit;
      margin-left: 0 !important; }
      .section-filter .filter__left .date-container img {
        transform: translateX(10%); }
  .section-filter .filter__right {
    padding-top: 0;
    padding-right: 0; }
    .section-filter .filter__right #category-container {
      width: 100%; }
  .section-filter .filter__left, .section-filter .filter__right {
    display: block !important;
    background-color: transparent;
    border: none; }
    .section-filter .filter__left > *, .section-filter .filter__right > * {
      display: block;
      border: 1px solid #1c144a;
      margin-bottom: 1rem; }
  .section-filter .dropdown {
    width: 100%;
    background-color: white;
    text-align: center; } }
.date-container {
  width: 14rem; }
  .date-container img {
    margin-right: -3rem;
    display: inline-block;
    position: relative;
    z-index: 1; }
  .date-container i {
    margin-left: -2rem; }
  .date-container input {
    width: 100% !important;
    border: 1px solid transparent;
    border-top-right-radius: 0.8rem !important;
    border-top-left-radius: 0.8rem !important; }
    .date-container input:focus {
      outline: none;
      border: 1px solid #1c144a;
      border-bottom: 1px solid transparent; }
