$color-gray-light-2: #eeeeee;
$color-primary-dark: #166589;
// header
.navbar-logo {
  width: 200px;
}
// ========================================
// hero section
// ========================================
.section-hero {
  height: 60vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  clip-path: ellipse(75% 100% at 48.75% 0%);
  overflow: hidden;
  background-color: white;
  .hero-img {
    // width: 300px;
    height: 100%;
    svg {
      height: 100%;
    }
  }
}
// ========================================
// Category
// ========================================
.categories-section {
  background-color: $color-gray-light-2;
  margin-top: -24vh;
  padding-top: 26vh;
  z-index: -1;
  .category-btn {
    background-size: cover;
    background-position: center;
    color: #166589;
    transition: all 0.3s;
    &--1 {
      background-image: url("../img/cat-1.svg");
    }
    &--2 {
      background-image: url("../img/cat-2.svg");
    }
    &--3 {
      background-image: url("../img/cat-3.svg");
    }
    &--4 {
      background-image: url("../img/cat-1.svg");
    }
    &--5 {
      background-image: url("../img/cat-2.svg");
    }
    &--6 {
      background-image: url("../img/cat-3.svg");
    }
    &--7 {
      background-image: url("../img/cat-1.svg");
    }
    &--8 {
      background-image: url("../img/cat-3.svg");
    }
    &:hover {
      background-color: $color-primary-dark !important;
      color: white;
    }
  }
}
// ========================================
// board
// ========================================
.board-section {
  background-color: $color-gray-light-2;
}
.board-plate {
  &--dark {
    .px-4 {
      background-color: $color-primary-dark;
      background-image: url("../img/board-circle-1.svg");
    }
  }
  &--light {
    .px-4 {
      background-color: $color-primary-dark;
      background-image: url("../img/board-circle-2.svg");
    }
  }
}
// ========================================
// hero
// ========================================

// ========================================
// hero
// ========================================
