@import "./base";
// @import "./select-box";
html {
  font-size: 62.5% !important;
}
body {
  font-size: 1.6rem;
}
input {
  font-size: 1.6rem !important;
}

.section-hero {
  &.hero-doctor-1,
  &.hero-doctor-2,
  &.hero-doctor-3,
  &.hero-doctor-4,
  &.hero-doctor-5 {
    background-image: url("../../images/doctor-bg-1.png");
  }
}

///copy from resappy project blog header component stylesheet
.blog-header {
  display: flex;
  height: 60vh;
  box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.15);
  @media (max-width: 760px) {
    display: block;
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }

  &__content {
    flex: 1;
    padding: 5rem;
    position: relative;
    @media (max-width: 760px) {
      height: 80vh;
    }
  }
  &__img {
    flex: 0 0 50%;
    @media (max-width: 760px) {
      height: 35vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__hot {
    position: absolute;
    right: 3rem;
    bottom: 5rem;
    font-size: 1rem;
    color: var(--color-primary);
    vertical-align: middle;
  }
  &__views {
    display: block;
    color: var(--color-primary);
  }
}
// heading
@mixin underline-after($width) {
  &::after {
    content: "";
    width: $width;
    height: 5px;
    background-color: var(--color-primary);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0.7rem;
    z-index: -1;
  }
}
.heading-3 {
  font-size: 4.5rem;
  font-weight: 700;
  padding-bottom: 5rem;
  margin-bottom: 6rem;
  &--under,
  span {
    position: relative;
    display: inline-block;
  }
  &--under {
    // font-size: 6rem;
    @include underline-after(50%);
  }
  span {
    @include underline-after(100%);
    z-index: 1;
  }
}
// button
.btnn {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s;
  &--learn {
    padding-left: 0;
    font-weight: 700;
    color: var(--color-primary);
    font-size: 2.5rem;
  }
}

.btnn:hover {
  color: #0079b2;
}

.btnn:hover .rarr::after {
  width: 40px;
  background-color: #0079b2;
}

.btnn:hover .rarr {
  color: #0079b2;
  padding-left: 40px;
  transition: all 0.3s;
}

.btnn .rarr {
  position: relative;
  padding-left: 20px;
  transition: all 0.3s;
  transform: translateY(3px);
  display: inline-block;
}

.btnn .rarr::after {
  content: "";
  display: inline-block;
  background-color: #34374c;
  height: 3px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(40%);
  transition: all 0.3s;
}

.section-blog-page {
  padding: 6rem;
  .button-group {
    button {
      display: block;
      border: none;
      background-color: transparent;
      position: relative;
      opacity: 0.8;
      &.active {
        opacity: 1;
        color: #0079b2;
      }
      &.active::after {
        position: absolute;
        content: "";
        display: block;
        height: 2px;
        width: 20px;
        background-color: var(--color-primary);
        bottom: 5px;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .single-post {
    height: 20rem;
    position: relative;
    width: 48%;
    margin-bottom: 2rem;
    background-color: #000000;
    &:nth-child(odd) {
      margin-right: 2%;
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.7;
    }
    .post-redirect {
      color: white;
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 2;
    }
    h3,
    span {
      position: absolute;
      left: 2rem;
      z-index: 2;
    }
    h3 {
      bottom: 2rem;
      &:hover {
        color: var(--color-primary);
      }
    }
    span {
      top: 2rem;
    }
  }
}
// style changed after ram
#blog-body {
  .navbar-nav .nav-link {
    font-size: 1.6rem !important;
    margin-left: 1.5rem !important;
  }
  .heading-primary {
    font-size: 6rem;
  }
  .section-blog-header {
    padding: 6rem;
  }
  .footer__logo {
    width: 16rem;
  }
  .footer__social {
    width: 3.2rem;
    height: 3.2rem;
  }
}
// blog details
.header.header__article {
  position: relative;
  .nav-link.text-white {
    color: var(--color-primary) !important;
    &.active {
      color: #0079b2 !important;
    }
  }
}
