@import "./custom/base";
@import "./custom/header";
@import "./custom/custom-font";
@import "./custom/footer";
.section-about-hero {
  height: 85vh;
  position: relative;
  .about-img-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
  .container {
    position: relative;
    height: inherit;
  }
  h1 {
    font-size: 6rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
  }
}
// =================================
// Responsive
// =================================
.section-about-description {
  padding: 10rem 0;
  img {
    width: 100%;
  }
}
// =================================
// Responsive
// =================================

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .section-about-description {
    padding: 10rem 0;
    img {
      width: 60%;
      margin-left: 20%;
    }
  }
}

@media (max-width: 576px) {
}
