@import "./custom/base";
@import "./custom/header";
@import "./custom/custom-font";
@import "./custom/footer";
.about-title {
  font-size: 5rem;
}
.section-about-hero {
  height: 85vh;
  position: relative;
  .about-img-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 85%;
    background-position: center;
    background-size: cover;
  }
  .container {
    position: relative;
    height: inherit;
  }
  h1 {
    font-size: 6rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
  }
}
// =================================
// Responsive
// =================================
.section-about-description {
  padding: 10rem 0;
  img {
    width: 100%;
  }
}
// =================================
// about mission
// =================================
.section-about-mission {
  padding: 5rem 0;
}
.about-mission {
  border-radius: 1.5rem;
  overflow: hidden;
  .about-mission-img {
    flex: 0 0 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    color: $footer-light;
    font-size: 3rem;
  }
}
// =================================
// about values
// =================================
.section-about-values {
  padding: 5rem 0;

  .about-values-content {
    width: 90%;
    margin-left: 5%;
    img {
      height: 9rem;
    }
    .about-value-inner {
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.15);
    }
  }
}
// =================================
// about journey
// =================================
.section-about-journey {
  padding: 5rem 0;
  margin: 5rem 0;
  background-color: #f0f0f0;
  .journey {
    width: 100%;
    position: relative;
    margin: 10rem 0;
    &-bar {
      width: 90%;
      margin-left: 5%;
      height: 2px;
    }
    &-items {
      position: absolute;
      width: 90%;
      margin-left: 5%;
      top: -1.5rem;
      left: 0;
      display: flex;
      justify-content: space-between;
    }
    &-item {
      position: relative;
      &:nth-child(even) {
        .journey-text {
          top: -6rem;
        }
      }
      &:nth-child(6) {
        .journey-text {
          left: auto;
          right: -8rem;
        }
      }
    }
    &-circle {
      height: 3rem;
      width: 3rem;
      border: 1px solid $color-primary;
      background-color: white;
      border-radius: 50%;
    }

    &-text {
      position: absolute;
      top: 4rem;
      left: 0;
      min-width: 15rem;
      font-size: 80%;
    }
  }
}
// =================================
// Responsive
// =================================
// =================================
// Responsive
// =================================
// =================================
// Responsive
// =================================

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .section-about-description {
    padding: 10rem 0;
    img {
      width: 60%;
      margin-left: 20%;
    }
  }
  .about-mission-img,
  .about-mission-text {
    border-radius: 1.5rem;
    overflow: hidden;
  }
  .section-about-journey {
    .journey {
      width: 15rem;
      margin: 10rem auto;
      &-bar {
        height: 40rem;
        width: 3px;
      }
      &-items {
        position: absolute;
        height: 43rem;
        flex-direction: column;
      }
      &-item {
        &:nth-child(even),
        &:nth-child(6) {
          .journey-text {
            text-align: right;
            top: 0;
            left: -20rem;
            right: auto;
          }
        }
        &:nth-child(odd) {
          .journey-text {
            left: 3rem;
          }
        }
        // &:nth-child(6) {
        //   .journey-text {
        //     left: 0;
        //   }
        // }
      }
      &-circle {
        margin-left: -1.5rem;
      }
      &-text {
        top: 0rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .section-about-journey {
    .journey {
      width: 100%;

      &-item {
        &:nth-child(even),
        &:nth-child(6) {
          .journey-text {
            text-align: left;
            top: 0;
            left: 3rem;
          }
        }
        &:nth-child(odd) {
          .journey-text {
            left: 3rem;
          }
        }
      }
      &-circle {
        margin-left: -1.5rem;
      }
      &-text {
        top: 0rem;
      }
    }
  }
}
