@import "./custom/base";
@import "./custom/header";
@import "./custom/footer";
@import "./custom/table";
input {
  font-size: 1.6rem !important;
}
.shop-header-nav {
  input {
    width: 40vw;
    font-size: 1.6rem;
    border-radius: 1.5rem;
  }
}

.header-right {
  a:first-child {
    transform: translateY(-1px);
  }
}

///copy from resappy project blog header component stylesheet
.blog-header {
  display: flex;
  height: 60vh;
  box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.15);
  @media (max-width: 760px) {
    display: block;
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }

  &__content {
    flex: 1;
    padding: 5rem;
    position: relative;
    @media (max-width: 760px) {
      height: 80vh;
    }
  }
  &__img {
    flex: 0 0 50%;
    @media (max-width: 760px) {
      height: 35vh;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__hot {
    position: absolute;
    right: 3rem;
    bottom: 5rem;
    font-size: 1rem;
    color: $color-primary;
    vertical-align: middle;
  }
  &__views {
    display: block;
    color: $color-primary;
  }
}
// heading
@mixin underline-after($width) {
  &::after {
    content: "";
    width: $width;
    height: 5px;
    background-color: $color-primary;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0.7rem;
    z-index: -1;
  }
}
.heading-3 {
  font-size: 4.5rem;
  font-weight: 700;
  padding-bottom: 5rem;
  margin-bottom: 6rem;
  &--under,
  span {
    position: relative;
    display: inline-block;
  }
  &--under {
    // font-size: 6rem;
    @include underline-after(50%);
  }
  span {
    @include underline-after(100%);
    z-index: 1;
  }
}
// button
.btnn {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s;
  &--learn {
    padding-left: 0;
    font-weight: 700;
    color: $color-primary;
    font-size: 2.5rem;
  }
}

.btnn:hover {
  color: $color-secondary;
}

.btnn:hover .rarr::after {
  width: 40px;
  background-color: $color-secondary;
}

.btnn:hover .rarr {
  color: $color-secondary;
  padding-left: 40px;
  transition: all 0.3s;
}

.btnn .rarr {
  position: relative;
  padding-left: 20px;
  transition: all 0.3s;
  transform: translateY(3px);
  display: inline-block;
}

.btnn .rarr::after {
  content: "";
  display: inline-block;
  background-color: #34374c;
  height: 3px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(40%);
  transition: all 0.3s;
}
