@import "./custom/base";
@import "./custom/header";
@import "./custom/footer";
@import "./custom/table";
.shop-header-nav {
  input {
    width: 40vw;
    font-size: 1.6rem;
    border-radius: 1.5rem;
  }
}

.header-right {
  a:first-child {
    transform: translateY(-1px);
  }
}
.section-details-banner {
  background-image: linear-gradient(to right, rgba(#000, 0.7), rgba(#000, 0.9)),
    url(../images/Slider-3.jpeg);
  height: 15rem;
  line-height: 15rem;
  margin-bottom: 6rem;
}
.section-checkout {
  input {
    font-size: 1.6rem;
  }
  .f-inline {
    & > * {
      flex: 49%;
    }
    & > div:first-of-type {
      margin-right: 1rem;
    }
  }
  .checkout-product {
    border-bottom: 1px solid #f1f1f1;
    .checkout-img {
      width: 7rem;
      height: 5rem;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      span {
        position: absolute;
        height: 2rem;
        width: 2rem;
        background-color: rgb(255, 0, 170);
        top: -1rem;
        right: -1rem;
        border-radius: 50%;
        font-size: 80%;
      }
    }
  }
}
// ===============================
// cart
// =================================
.cart-summary {
  border: 1px solid #f1f1f1;
  &-short {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
// ===============================
// Account setting
// =================================

.section-information {
  padding-bottom: 8rem;
  input {
    font-size: 1.6rem !important;
  }
  .nav-link {
    color: $color-primary !important;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: white !important;
    background-color: $color-primary !important;
  }
}
