@import "./custom/base";
@import "./custom/header";
@import "./custom/custom-font";
// Reusable
.title-primary {
  font-weight: 400;
  font-size: 5.5rem;
}
// ====================================
// section hero
// ====================================
.single-hero {
  height: 83vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .container {
    position: relative;
    height: inherit;
    h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      //   font-family: segos;
      font-weight: 700;
      position: absolute;
      bottom: 5rem;
      z-index: 1;
      font-size: 5rem;
    }
  }
}
// ====================================
// section hero
// ====================================
.section-short-des {
  padding: 8rem 0;
  font-weight: 300;
  font-size: 2.2rem;
}

// ====================================
// section hero
// ====================================
.section-sigal-desc {
  .col-sm-6:not(:first-of-type) {
    border-left: 1px solid $color-secondary;
  }

  .sigal-desc-box {
    min-height: 38rem;
    position: relative;
    h2 {
      font-size: 3rem;
    }
    div {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      a {
        position: relative;
        color: $color-secondary;
      }
    }
  }
}
// ====================================
// section offer
// ====================================
.section-offer {
  background-color: #f0f0f0;
  padding: 8rem 0;

  p {
    font-size: 1.4rem;
  }
  img {
    width: 100%;
  }
}
// ====================================
// section service
// ====================================
.section-service {
  padding: 6rem 0;
  .service-content {
    display: flex;
    flex-wrap: wrap;
    div:first-child {
      flex: 0 0 40rem;
      margin-right: 4rem;
      p {
        font-size: 1.5rem;
      }
    }
    & > div:not(:first-child) {
      position: relative;
      color: $medium-secondary-color;
      width: 20rem;
      height: 13.6rem;
      border: 1px solid $medium-secondary-color;
      margin-bottom: 2rem;
      margin-right: 2rem;
      .service-number {
        position: absolute;
        height: 3rem;
        width: 3rem;
        background-color: $color-secondary;
        font-weight: bold;
        text-align: center;
        line-height: 3rem;
        vertical-align: middle;
        top: -1.5rem;
        left: 1rem;
      }
    }
  }
}
// ====================================
// section hero
// ====================================
// ====================================
// section hero
// ====================================
// ====================================
// Responsive
// ====================================
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .service-content {
    div:first-child {
      flex: 0 0 100%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }
  .title-primary {
    font-weight: 400;
    font-size: 4.7rem;
  }
  .section-offer {
    p {
      font-size: 1.2rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
  .section-offer {
    p {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
