@import "./custom/base";
@import "./custom/header";
@import "./custom/custom-font";
// ====================================
// section hero
// ====================================
.single-hero {
  height: 83vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .container {
    position: relative;
    height: inherit;
    h1 {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      //   font-family: segos;
      font-weight: 700;
      position: absolute;
      bottom: 5rem;
      z-index: 1;
      font-size: 5rem;
    }
  }
}
// ====================================
// section hero
// ====================================
.section-short-des {
  padding: 8rem 0;
  font-weight: 300;
  font-size: 2.2rem;
}

// ====================================
// section hero
// ====================================
.section-sigal-desc {
  .col-sm-6:not(:first-of-type) {
    border-left: 1px solid $color-secondary;
  }

  .sigal-desc-box {
    min-height: 38rem;
    position: relative;
    h2 {
      font-size: 3rem;
    }
    div {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      a {
        position: relative;
        color: $color-secondary;
      }
    }
  }
}
// ====================================
// section hero
// ====================================
// ====================================
// section hero
// ====================================
// ====================================
// section hero
// ====================================
// ====================================
// section hero
// ====================================
// ====================================
// section hero
// ====================================
