.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;

  &:focus {
    outline: none;
  }
  &--full {
    background-color: $color-secondary;
    border-radius: 2.5rem;
  }
}
