.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;

  &:focus {
    outline: none;
  }
  &--secondary {
    background-color: darken($color: $color-secondary, $amount: 10%);
    color: white;
    border-radius: 2.5rem;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: 0.35);
      background-color: $color-secondary;
    }
  }
  &--primary {
    background-color: $color-primary;
    color: white;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 1rem 1.5rem rgba($color: #000000, $alpha: 0.35);
      background-color: darken($color: $color-primary, $amount: 15%);
    }
  }
  &--block {
    display: block;
    width: 100%;
  }
}
