.progresses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-gap: 3.5rem;
  justify-items: center;
  // @include respond(tab-land) {
  //   display: block;
  // }
  .progress {
    height: 27rem;
    width: 27rem;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // @include respond(tab-land) {
    //   margin: 0 auto;
    //   margin-bottom: 3rem;
    // }
    &__number {
      font-size: 4.5rem;
    }
    &__title {
      font-size: 1.8rem;
    }
    &--dotted {
      border: 1px dashed $color-white;
    }
    &--white {
      background-color: $color-white;
      color: $color-primary;
    }
    &--yellow {
      background-color: $color-secondary;
    }
  }
}
