/* Style the tab */
.tab {
  overflow: hidden;
  margin-top: 10rem;
  padding-bottom: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 4rem;

  @include respond(tab-port) {
    grid-gap: 3rem;
  }
  @include respond(phone) {
    grid-gap: 2rem;
  }

  .btn {
    border-radius: 2rem;
    padding: 1rem;
    color: darken($color-gray-dark-1, 50%);
    &.active,
    &:hover {
      color: $color-white;
      background-color: $color-secondary;
    }
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  &__inner {
    display: flex;
    min-height: 40vh;
    @include respond(phone) {
      display: block;
    }
  }
  &__banner {
    height: inherit;
    width: 100%;
    background-color: $color-primary;
    flex: 0 0 1;
    margin-right: 6rem;
    @include respond(tab-port) {
      margin-right: 4rem;
    }
    @include respond(phone) {
      min-height: 40vh;
      margin-bottom: 3rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    flex: 0 0 60%;
    @include respond(tab-port) {
      flex: 0 0 60%;
    }
  }
  &__paragraph {
    margin-bottom: auto;
    @include respond(phone) {
      margin: 2rem 0;
    }
  }
  &__link {
    color: $color-primary;
  }
}
