/* Style the tab */
.tab {
  overflow: hidden;
  margin-top: 10rem;
  padding-bottom: 3rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;

  .btn {
    border-radius: 2rem;
    padding: 1rem;
    color: darken($color-gray-dark-1, 50%);
    &.active,
    &:hover {
      color: $color-white;
      background-color: $color-secondary;
    }
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  &__inner {
    display: flex;
    min-height: 40vh;
  }
  &__banner {
    height: inherit;
    width: 100%;
    background-color: $color-primary;
    flex: 0 0 1;
    margin-right: 6rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    flex: 0 0 60%;
  }
  &__paragraph {
    margin-bottom: auto;
  }
  &__link {
    color: $color-primary;
  }
}
