@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-Black.ttf");
  font-family: 400;
}
@font-face {
  font-family: "gilroy";
  src: url("../../assets/font/Gilroy-ExtraBold.ttf");
  font-family: 900;
}
