.table-info {
  border: 1px solid #1c144a;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #1c144a;
  border-radius: 5px;
}

.table-info tr {
  // background-color: #f8f8f8;
  border: 1px solid #1c144a;
  padding: 0.35em;
  padding: 0.35rem 1rem;
}

.table-info th,
.table-info td {
  padding: 0.625em;
  // text-align: center;
  padding-left: 5%;
}

.table-info th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .table-info {
    border: 0;
  }

  .table-info caption {
    font-size: 1.3em;
  }

  .table-info thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-info tr {
    border-bottom: 3px solid #1c144a;
    display: block;
    margin-bottom: 0.625em;
  }

  .table-info td {
    border-bottom: 1px solid #1c144a;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table-info td::before {
    /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table-info td:last-child {
    border-bottom: 0;
  }
}
// custom
.table-img-1 {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  img {
    height: 1rem;
  }
}

@media (max-width: 1200px) {
  .table-info th,
  .table-info td {
    padding-left: 2%;
  }
}

@media (max-width: 768px) {
  .table-info th,
  .table-info td {
    padding-left: 1%;
  }
}
