.board-section {
  grid-column: full-start / full-end;
  background-color: $color-gray-light-2;
  padding: 4rem 0;
  @include grid-content;
  .board-title {
    grid-column: center-start / center-end;
    text-align: center;
    margin-bottom: 4rem;
    p {
      font-size: 2rem;
    }
  }
  .board-container {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 4rem;
    .board-plate {
      padding: 5rem 4rem;
      color: white;
      border-radius: 5px;
      position: relative;
      &--light {
        background-color: $color-primary;
      }
      &--dark {
        background-color: $color-primary-dark;
        background-image: url("../../../img/Ellipse-5.svg");
        background-size: contain;
        background-position: center;
      }
      &__btn {
        position: absolute;
        bottom: 2rem;
        right: 4rem;
        color: $color-white;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.4rem;
      }
    }
  }
}
