.categories-section {
  background-color: $color-gray-light-2;
  margin-top: -24vh;
  padding-top: 26vh;
  .category-content {
    padding: 4rem 0;
    .category-btns {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
    }
    .category-btn {
      flex: 0 0 24%;
      margin: 5px;
      background-color: $color-white;
      background-image: url("../../../img/tab.png");
      background-size: cover;
      background-position: center;
      text-decoration: none;
      padding: 1.5rem;
      color: $color-primary-dark;
      font-weight: 700;
      border-radius: 4px;
      transition: all 0.3s;
      &:hover {
        background-color: $color-primary-dark;
        color: white;
      }
    }
  }
}
