.contact {
  display: flex;
  &__img-container {
    background-color: $color-primary-dark;
    flex: 0 0 35vw;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
  &__form-container {
    flex: 1;
    background-color: $color-primary-dark;
    padding: 5rem;
  }
  &__heading {
    font-size: 3.4rem;
    color: $color-primary-light;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  &__subheading {
    font-size: 1.6rem;
    color: white;
  }
  &__form {
    .input {
      background-color: rgba($color: #000000, $alpha: 0.15);
      color: white;
      &::-webkit-input-placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
  &__input-group {
    margin-bottom: 1.5rem;
    display: flex;
    & > * {
      flex: 0 0 48%;
    }
    .input:first-child {
      margin-right: 4%;
    }
  }
  &__btn {
    border: 1px solid #fff;
    color: $color-white;
    opacity: 0.6;
    padding: 1rem;
    margin-top: 1.5rem;
  }
}
