.top-courses {
  &__filter {
    display: flex;
    justify-content: space-between;
    &-tag {
      flex: 0 0 20%;
    }
    &-btns {
      flex: 1;
      display: flex;
    }
    &-btn {
      text-align: center;
      margin-right: 1rem;
      flex: 1;
      border: 1px solid #ddd;
      text-decoration: none;
      color: $text-color;
      background-color: transparent;
      padding: 1rem 0;
      transition: flex 0.3s 0.5s, background-color 0.3s;
      &.active {
        background-color: $color-primary;
        flex: 1.5;
      }
    }
  }
  &__content {
    margin-left: 20%;
    margin-top: 5rem;
  }
  &__card {
    width: 33%;
    margin: 0 5px;
  }
}
