.upcoming-course-section {
  grid-column: center-start / center-end;
  @include grid-content;
  overflow: hidden;
  .home-title {
    grid-column: center-start / center-end;
  }
  .owl-c {
    grid-column: center-start / center-end;
    background-color: red;
    overflow: hidden;
  }
  .card-container {
    grid-column: center-start / center-end;
  }
}

.upcoming-couse__link {
  text-align: right;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: $text-color;
  grid-column: col-start 7 / center-end;
  margin-top: 2rem;
  &:hover {
    color: $color-primary;
  }
}
