.upcoming-course-section {
  overflow: hidden;
  .home-title {
  }

  .card-container {
  }
}

.upcoming-couse__link {
  margin-left: auto;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: $text-color;
  margin-top: 2rem;
  min-width: 10rem;
  float: right;
  &:hover {
    color: $color-primary;
  }
}
