$color-primary: #243673;
$color-secondary: #0079b2;
$footer-dark: #08142e;
$footer-light: #95d7f7;
$medium-secondary-color: #0badde;
$font-color: #444;
html {
  font-size: 62.5%; //1rem = 10px
}
body {
  font-size: 1.6rem;
  color: $font-color;
}
.btn {
  font-size: 1.6rem !important;
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  html {
    font-size: 60%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
