$color-primary: #243673;
$color-secondary: #0079b2;
$footer-dark: #08142e;
$footer-light: #95d7f7;
$medium-secondary-color: #0badde;
html {
  font-size: 62.5%; //1rem = 10px
}
body {
  font-size: 1.6rem;
}
