%heading {
  color: $color-primary;
  font-weight: 400;
  text-transform: uppercase;
}
.heading-primary {
  @extend %heading;
  font-size: 2.5rem;
}
.heading-secondary {
  @extend %heading;
  font-size: 2rem;
}
.heading-tertiary {
  @extend %heading;
}
