.bold {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.ms-1 {
  margin-left: 1rem;
}
.ms-2 {
  margin-left: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
