.footer {
  padding-top: 8rem;
  &__content {
    display: flex;
    @include respond(tab-port) {
      display: block;
    }
    & > * {
      flex: 0 0 25%;
      @include respond(tab-port) {
        margin-bottom: 4rem;
      }
    }
  }
  &__link {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: $color-gray-dark-1;
  }
  .heading-tertiary {
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
}
