.footer {
  padding-top: 8rem;
  &__content {
    display: flex;
    @include respond(tab-port) {
      display: block;
    }
    & > * {
      flex: 0 0 25%;
      @include respond(tab-port) {
        margin-bottom: 4rem;
      }
    }
  }
  &__logo {
    color: $color-gray-dark-1;
    font-size: 6rem;
    font-weight: bold;
  }
  &__link {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: $color-gray-dark-1;
  }
  &__social {
    margin-bottom: 3rem;
    color: $color-primary;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  .heading-tertiary {
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
}
