.header {
  &__top {
    .container {
      padding: 2rem 0;
      @include flex;
    }
    a {
      color: $color-gray-dark-1;
    }
  }
  &__logo {
    font-size: 3rem;
    font-weight: bold;
  }
  &__lang {
    a.active {
      color: rgb(30, 172, 23);
    }
  }
  &__main {
    .container {
      padding: 1rem 0;
      @include flex;
    }
  }
  &__auth-buttons {
    background-color: $color-white;
    border-radius: 2rem;
    overflow: hidden;
    padding: 1rem 2rem;
  }
}
