.header {
  grid-column: center-start / center-end;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 2rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 21rem;
    img {
      width: 100%;
    }
  }
  &__menu {
    &-link {
      text-decoration: none;
      margin-left: 2rem;
      display: inline-block;
      font-weight: 600;
      font-size: 1.4rem;
      color: $color-primary-dark;
      transition: color 0.3s;
      &:hover {
        color: #00afdd;
      }
      &--btn {
        background-color: $color-primary-dark;
        border-radius: 5px;
        color: white;
        padding: 0.5rem 2rem;
      }
    }
  }
}
