.header {
  padding: 2rem 0;
  .row--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 21rem;
    margin-left: -3rem;
    img {
      width: 100%;
    }
  }
  &__menu {
    margin-right: -3rem;
    &-link {
      text-decoration: none;
      margin-left: 2rem;
      display: inline-block;
      font-weight: 600;
      font-size: 1.4rem;
      color: $color-primary-dark;
      transition: color 0.3s;
      &:hover {
        color: #00afdd;
      }
      &--btn {
        background-color: $color-primary-dark;
        border-radius: 5px;
        color: white;
        padding: 0.5rem 2rem;
      }
    }
  }
}
