html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #444; }

@media (max-width: 992px) {
  html {
    font-size: 60%; } }
@media (max-width: 768px) {
  html {
    font-size: 56.25%; } }
@media (max-width: 576px) {
  html {
    font-size: 50%; } }
.header-logo {
  width: 15rem; }
.header .nav-link {
  color: #243673;
  font-weight: 600;
  transition: 0.3s;
  position: relative; }
  .header .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 2rem;
    background-color: #0079b2;
    margin-left: 0.5rem;
    opacity: 0;
    transition: 0.3s 0.1s; }
  .header .nav-link:hover, .header .nav-link.active {
    color: #0079b2; }
    .header .nav-link:hover::after, .header .nav-link.active::after {
      opacity: 1; }
.header-right a {
  color: #243673;
  transition: 0.3s; }
  .header-right a:hover {
    color: #0079b2; }
  .header-right a:first-child {
    transform: translateY(3px); }

@font-face {
  font-family: segos;
  src: url("../../fonts/segos.woff"); }
.footer {
  background-color: #08142e; }
  .footer a {
    color: white; }
  .footer h4 {
    position: relative;
    color: #95d7f7;
    font-size: 1.6rem; }
    .footer h4::after {
      content: "";
      display: block;
      height: 3px;
      width: 2rem;
      background-color: #95d7f7;
      position: absolute;
      margin-top: 5px; }
  .footer__logo {
    width: 70%; }
  .footer__social {
    color: #95d7f7 !important;
    height: 2rem;
    width: 2rem;
    border: 1px solid #08142e;
    border-radius: 50%;
    transition: all 0.3s; }
    .footer__social:hover {
      color: white !important;
      background-color: #08142e; }
  .footer-map-link {
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .footer-map-link:hover {
      color: #95d7f7; }

.about-title {
  font-size: 5rem; }

.section-about-hero {
  height: 85vh;
  position: relative; }
  .section-about-hero .about-img-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 85%;
    background-position: center;
    background-size: cover; }
  .section-about-hero .container {
    position: relative;
    height: inherit; }
  .section-about-hero h1 {
    font-size: 6rem;
    position: absolute;
    bottom: 2rem;
    left: 0; }

.section-about-description {
  padding: 10rem 0; }
  .section-about-description img {
    width: 100%; }

.section-about-mission {
  padding: 5rem 0; }

.about-mission {
  border-radius: 1.5rem;
  overflow: hidden; }
  .about-mission .about-mission-img {
    flex: 0 0 50%; }
    .about-mission .about-mission-img img {
      width: 100%;
      height: 100%; }
  .about-mission h3 {
    color: #95d7f7;
    font-size: 3rem; }

.section-about-values {
  padding: 5rem 0; }
  .section-about-values .about-values-content {
    width: 90%;
    margin-left: 5%; }
    .section-about-values .about-values-content img {
      height: 9rem; }
    .section-about-values .about-values-content .about-value-inner {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); }

.section-about-journey {
  padding: 5rem 0;
  margin: 5rem 0;
  background-color: #f0f0f0; }
  .section-about-journey .journey {
    width: 100%;
    position: relative;
    margin: 10rem 0; }
    .section-about-journey .journey-bar {
      width: 90%;
      margin-left: 5%;
      height: 2px; }
    .section-about-journey .journey-items {
      position: absolute;
      width: 90%;
      margin-left: 5%;
      top: -1.5rem;
      left: 0;
      display: flex;
      justify-content: space-between; }
    .section-about-journey .journey-item {
      position: relative; }
      .section-about-journey .journey-item:nth-child(even) .journey-text {
        top: -6rem; }
      .section-about-journey .journey-item:nth-child(6) .journey-text {
        left: auto;
        right: -8rem; }
    .section-about-journey .journey-circle {
      height: 3rem;
      width: 3rem;
      border: 1px solid #243673;
      background-color: white;
      border-radius: 50%; }
    .section-about-journey .journey-text {
      position: absolute;
      top: 4rem;
      left: 0;
      min-width: 15rem;
      font-size: 80%; }

@media (max-width: 992px) {
  html {
    font-size: 60%; } }
@media (max-width: 768px) {
  .section-about-description {
    padding: 10rem 0; }
    .section-about-description img {
      width: 60%;
      margin-left: 20%; }

  .about-mission-img,
  .about-mission-text {
    border-radius: 1.5rem;
    overflow: hidden; }

  .section-about-journey .journey {
    width: 15rem;
    margin: 10rem auto; }
    .section-about-journey .journey-bar {
      height: 40rem;
      width: 3px; }
    .section-about-journey .journey-items {
      position: absolute;
      height: 43rem;
      flex-direction: column; }
    .section-about-journey .journey-item:nth-child(even) .journey-text, .section-about-journey .journey-item:nth-child(6) .journey-text {
      text-align: right;
      top: 0;
      left: -20rem;
      right: auto; }
    .section-about-journey .journey-item:nth-child(odd) .journey-text {
      left: 3rem; }
    .section-about-journey .journey-circle {
      margin-left: -1.5rem; }
    .section-about-journey .journey-text {
      top: 0rem; } }
@media (max-width: 576px) {
  .section-about-journey .journey {
    width: 100%; }
    .section-about-journey .journey-item:nth-child(even) .journey-text, .section-about-journey .journey-item:nth-child(6) .journey-text {
      text-align: left;
      top: 0;
      left: 3rem; }
    .section-about-journey .journey-item:nth-child(odd) .journey-text {
      left: 3rem; }
    .section-about-journey .journey-circle {
      margin-left: -1.5rem; }
    .section-about-journey .journey-text {
      top: 0rem; } }
