html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #444; }

@media (max-width: 992px) {
  html {
    font-size: 60%; } }
@media (max-width: 768px) {
  html {
    font-size: 56.25%; } }
@media (max-width: 576px) {
  html {
    font-size: 50%; } }
.header-logo {
  width: 15rem; }
.header .nav-link {
  color: #243673;
  font-weight: 600;
  transition: 0.3s;
  position: relative; }
  .header .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 2rem;
    background-color: #0079b2;
    margin-left: 0.5rem;
    opacity: 0;
    transition: 0.3s 0.1s; }
  .header .nav-link:hover, .header .nav-link.active {
    color: #0079b2; }
    .header .nav-link:hover::after, .header .nav-link.active::after {
      opacity: 1; }
.header-right a {
  color: #243673;
  transition: 0.3s; }
  .header-right a:hover {
    color: #0079b2; }
  .header-right a:first-child {
    transform: translateY(3px); }

@font-face {
  font-family: segos;
  src: url("../../fonts/segos.woff"); }
.footer {
  background-color: #08142e; }
  .footer a {
    color: white; }
  .footer h4 {
    position: relative;
    color: #95d7f7;
    font-size: 1.6rem; }
    .footer h4::after {
      content: "";
      display: block;
      height: 3px;
      width: 2rem;
      background-color: #95d7f7;
      position: absolute;
      margin-top: 5px; }
  .footer__logo {
    width: 70%; }
  .footer__social {
    color: #95d7f7 !important;
    height: 2rem;
    width: 2rem;
    border: 1px solid #08142e;
    border-radius: 50%;
    transition: all 0.3s; }
    .footer__social:hover {
      color: white !important;
      background-color: #08142e; }
  .footer-map-link {
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .footer-map-link:hover {
      color: #95d7f7; }

.drp {
  position: relative; }
  .drp-header {
    cursor: pointer;
    height: 3rem; }
  .drp:hover .drp-body {
    display: block; }
  .drp-body {
    display: none;
    position: absolute;
    top: 3rem;
    background-color: white;
    width: 100%;
    z-index: 3; }

.product-box {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); }
  .product-box img {
    height: 20rem;
    width: 100%;
    object-fit: cover; }
  .product-box .input-cart input {
    width: 5rem;
    font-size: 1.6rem; }
  .product-box .input-cart a {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 500; }

.shop-header-nav input {
  width: 40vw;
  font-size: 1.6rem;
  border-radius: 1.5rem; }

.header-right a:first-child {
  transform: translateY(-1px); }

.shop-banners .shop-banner img {
  height: 60vh;
  width: 100%;
  object-fit: cover; }

.section-categories {
  padding: 6rem 0; }
  .section-categories .cat-item {
    height: 17rem;
    transition: box-shadow 0.4s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
    .section-categories .cat-item img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
      border-radius: 50%; }
    .section-categories .cat-item:hover {
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.section-new-products {
  padding: 6rem 0;
  padding-top: 10rem;
  background-color: #eee; }
  .section-new-products .new-products .owl-prev,
  .section-new-products .new-products .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #4b4949 !important; }
    .section-new-products .new-products .owl-prev span,
    .section-new-products .new-products .owl-next span {
      display: inline-block;
      transform: scale(2) translateY(-2px);
      color: white; }
  .section-new-products .new-products .owl-prev {
    left: -1rem; }
  .section-new-products .new-products .owl-next {
    right: -1rem; }

.section-top-products {
  padding: 6rem 0;
  background-color: #eee; }
  .section-top-products .product-box {
    width: 96%;
    margin-left: 2%; }

.pagenumbers {
  text-align: center;
  margin-top: 7rem; }
  .pagenumbers button {
    border: none;
    background-color: transparent;
    border: 1px solid #0badde;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    padding: 0; }
    .pagenumbers button:not(:last-child) {
      margin-right: 1rem; }
    .pagenumbers button.active {
      background-color: #0badde;
      color: white; }

@media (max-width: 768px) {
  .section-categories .cat-item img {
    height: 7rem;
    width: 7rem; } }
