*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 1.5; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.heading-primary, .heading-secondary {
  color: #644f96;
  font-weight: 400;
  text-transform: uppercase; }

.heading-primary {
  font-size: 2.5rem; }

.heading-secondary {
  font-size: 2rem; }

.bold {
  font-weight: 700; }

.text-center {
  text-align: center; }

.ms-1 {
  margin-left: 1rem; }

.ms-2 {
  margin-left: 2rem; }

.mb-2 {
  margin-bottom: 2rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit; }
  .btn:focus {
    outline: none; }
  .btn--full {
    background-color: #ff6f00;
    color: white;
    border-radius: 2.5rem; }

.header-nav {
  text-transform: uppercase; }
  .header-nav__item {
    display: inline-block; }
    .header-nav__item:not(:first-child) {
      margin-left: 2rem; }
  .header-nav__link {
    color: #644f96;
    transition: 0.3s; }
    .header-nav__link.active, .header-nav__link:hover {
      color: #ff6f00; }

.title {
  position: relative; }
  .title__border {
    border: 1px dashed #404040; }
  .title__text {
    width: 30vw;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2; }

.header__top .container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.header__top a {
  color: #404040; }
.header__logo {
  font-size: 3rem;
  font-weight: bold; }
.header__lang a.active {
  color: #1eac17; }
.header__main .container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.header__auth-buttons {
  background-color: #fff;
  border-radius: 3.5rem;
  overflow: hidden;
  padding: 1rem 2rem;
  text-transform: uppercase; }
  .header__auth-buttons .btn.btn--full {
    padding: 1rem 3rem; }

.section-hero {
  padding: 8rem 0; }
  .section-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-hero .hero__content {
    flex: 0 0 60%;
    margin-right: 10rem; }
  .section-hero .hero__artwork {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: white; }

.section-features {
  padding: 8rem 0; }
