.section-hero {
  @include section-spacing(8rem);
  .container {
    @include flex;
  }
  .hero__content {
    flex: 0 0 60%;
    margin-right: 10rem;
  }
  .hero__artwork {
    @include flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: white;
  }
}
.section-features {
  @include section-spacing(8rem);
}
.section-progress {
  background-color: $color-primary;
  padding: 5rem 0;
  margin: 10rem 0;
  &__title {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 5rem;
    text-align: center;
  }
}
