.section-hero {
  @include section-spacing(8rem);
  .container {
    @include flex;
  }
  .hero__content {
    flex: 0 0 60%;
    margin-right: 10rem;
  }
  .hero__artwork {
    @include flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
    background-color: white;
  }
}
.section-features {
  @include section-spacing(8rem);
}
